/*************************************
*	Simplify Module Settings Styles  *
**************************************/

#content {
	background: url('https://www.simplify.com/commerce/static/images/bg-gradient.png');
}

.simplify-module-wrapper { 
	clear: both; 
	margin: 0px auto; 
	min-width: 930px; 
	max-width: 1024px; 
	overflow: hidden; 
}

.simplify-module-wrapper * {
	color: #333;
	font-size: 13px;
	line-height: 20px;
}

.simplify-module-wrapper .simplify-module-header { 
	padding: 10px;
	clear: both; 
	margin-bottom: 25px; 
	padding-top: 15px; 
	overflow: hidden; 
}

.hidden {
    display: none;
}

.no-border {
    border: none;
}

#saveCustomerLabel {
    margin-left: 5px;
}

#updateCustomerLabel {
    margin-left: 5px;
    display:none;
}

.simplify-module-wrapper .simplify-settings h2{
	font-size: 16px;
	font-weight: 600;
}

.simplify-module-wrapper .simplify-settings a{
	color: #F60;
}

.simplify-module-wrapper .simplify-settings a:hover {
	text-decoration: underline;
}

.simplify-settings-select {
    height: 26px;
}

/* close commented backslash hack */

.simplify-module-wrapper .marketing {
	width: 33%;
	text-align: center;
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.simplify-module-wrapper .marketing h1 {
	font-weight: 600;
	font-size: 18px;
	margin: 10px 0;
}

.simplify-module-wrapper .header-title {
	width: 720px;
	text-align: center;
}

.simplify-module-wrapper .header-title h1 {
	font-size: 20px;
}

.simplify-module-wrapper .header-title h2 {
	font-size: 25px;
	font-weight: 600;
	margin: 0;
}

.simplify-module-wrapper .api-key-container {
	margin: 10px;
}

.simplify-module-wrapper .api-key-container h4 {
	color: #F26722;
	margin: 0;
	font-weight: normal;
	font-size: 16px;
}

.simplify-module-wrapper .api-keys {
	width: auto;
	background-color: #FAFAFA;
	padding: 5px;
	border: 1px solid #EEE;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 5px 0 20px 0;
}

.simplify-module-wrapper .api-keys .api-key-header div {
	font-weight: bold;
	font-size: 105%;
}
.simplify-module-wrapper .api-keys .api-key-box div, .simplify-module-wrapper .api-keys .api-key-header div {
	padding: 2px 5px;
	margin: 0 325px 5px 5px;
}

.simplify-module-wrapper .api-keys .api-key-box div, .simplify-module-wrapper .api-keys .api-key-header input {
	padding: 2px 5px;
	margin: 0 5px 5px 5px;
}

.simplify-module-wrapper .api-keys input {
	width: 390px;
}

.simplify-module-wrapper .admin-description-block {
    padding: 0 20px 0 20px;
}

.simplify-module-wrapper .btn, 
.simplify-module-wrapper .btn:visited {
	background-color: #F60!important;
	color: #FFF !important;
	-webkit-transition: background-color .25s ease-in;
	-moz-transition: background-color .25s ease-in;
	-o-transition: background-color .25s ease-in;
	transition: background-color .25s ease-in;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	display: inline-block;
	font-size: 16px;
	zoom: 1;
	-webkit-transition: background-color .25s ease-in,color .25s ease-in;
	-moz-transition: background-color .25s ease-in,color .25s ease-in;
	-ms-transition: background-color .25s ease-in,color .25s ease-in;
	-o-transition: background-color .25s ease-in,color .25s ease-in;
	transition: background-color .25s ease-in,color .25s ease-in;
	padding: 10px 20px;
	text-decoration: none;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	position: relative;
	cursor: pointer;
	border: 0;
	text-align: center;
	vertical-align: middle;
}

.simplify-module-wrapper .btn span, 
.simplify-module-wrapper .btn:visited span {
	color: white;
}

.simplify-module-wrapper .half {
	width: 48%;
}

.simplify-module-wrapper .radioInput{
	margin: 10px;
}

.simplify-module-wrapper .container {
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.simplify-module-wrapper .msg-container {
	background-color: #FFF;
	padding: 10px;
	border: 1px solid #CCC;
	font-size: 16px;
	margin-bottom: 10px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.simplify-module-wrapper .settings-btn {
	margin-top: 25px;
	font-size: 14px;
	padding: 10px 24px;
}

.simplify-module-wrapper .technical-checks {
	width: 450px;
	float: right;
	background-color: #F0F0F0;
	padding: 0 10px 10px 10px;
}

.simplify-module-wrapper .formContainer {
	padding: 10px;
	border: 1px solid #CCC;
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
	margin: 5px
}

.simplify-module-wrapper .formContainer form {
	position: relative;
	top: -20px;
}

.simplify-module-wrapper .section {
	background-color: #FFF;
	border: 1px solid #CCC;
	padding: 15px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
	margin: 5px;
	margin-bottom: 25px;
}

.simplify-module-wrapper .keyModeContainer, .simplify-module-wrapper .saveCustomerDetailsContainer {
	text-align: center;
	background-color: #FAFAFA;
	padding: 5px;
	border: 1px solid #EEE;
}

.simplify-module-wrapper .keyModeContainer span {
	position: relative;
	top: 3px;
}

.simplify-module-wrapper .simplify-settings select {
    height: 28px;
}

.hp-notes {
    padding-top: 10px;
    width: 445px;
}

/*************************
*	Payment Form Styles  *
**************************/

#simplify-payment-form {
	color: #333;
}

.save-customer {
    padding-top: 10px;
    padding-left: 5px;
}

#simplify-payment-form label { 
	display: inline-block; 
	margin-bottom: 4px; 
	text-transform: uppercase; 
}

#simplify-payment-form label.lowercase { 
	text-transform: none; 
}

.nobootstrap label.modal-overlay{
    float: none;
    padding-left: 30px;
}

#modal-overlay-color {
    height: 26px;
}

#modal-overlay-config {
    -webkit-transition: linear 0.25s;
    -moz-transition: linear 0.25s;
    -ms-transition: linear 0.25s;
    -o-transition: linear 0.25s;
    transition: linear 0.25s;
}

#simplify-payment-form input[type="text"], 
#simplify-payment-form select { 
	border: #CCCCCC solid 1px; 
	margin-bottom: 15px; 
	padding: 3px; 
}

#simplify-payment-form input[type="checkbox"] { 
	margin-bottom: 15px; 
}

#simplify-payment-form input.simplify-card-number { 
	padding: 7px 10px;
	width: 210px; 
}

#simplify-payment-form a { 
	display: inline; 
	position: relative; 
}

#simplify-payment-form a.simplify-card-cvc-info div.cvc-info {
	background-color: #BDE5F8;
	border: #00529B solid 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #00529B!important;
	display: none;
	font-style: normal;
	padding: 8px;
	position: absolute;
	right: -320px; top: -10px;
	text-decoration: none;
	width: 300px;
}

#simplify-payment-form a.simplify-card-cvc-info:hover div.cvc-info { 
	display: block; 
}

#simplify-payment-form div.cvc-info:hover { 
	cursor: default; 
}

#simplify-payment-form .block-left { 
	display: inline-block; 
	float: left; 
	margin-right: 20px; 
}

.simplifyFormContainer img.disable { 
	opacity: 0.3; 
}

i.simplifyFormContainer mg.enable { 
	opacity: 1; 
}

.simplify-submit-button-cc { 
	margin-left: 5px; 
}

.simplify-submit-button {
	float: right;
	position: relative;
	top: 18px;
    margin-bottom: 15px;
	-webkit-transition: background-color .25s ease-in;
	-moz-transition: background-color .25s ease-in;
	-o-transition: background-color .25s ease-in;
	transition: background-color .25s ease-in;
}

.simplify-submit-button, 
.simplify-submit-button-cc {
	position:relative;
	display:inline-block;
	padding:5px 7px;
	border:1px solid #cc9900;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-weight:bold;
	color:#000;
	background:url(../../themes/default/img/bg_bt.gif) repeat-x 0 0 #f4b61b;
	cursor: pointer;
}

.simplify-submit-button:disabled, 
.simplify-submit-button-cc:disabled {
	text-decoration:none;
	background: #CCC;
	border-color: #AAA;
}

.simplifyFormContainer .simplify-payment-errors {
	margin: 0 0 10px 0;
	padding: 10px;
	border: 1px solid #900;
	font-size: 13px;
	background: #FCC;
	display: none;
}

#simplify-ajax-loader { 
	display: none; 
	text-align: center;
	background-color: #FFF;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #CCC;
	margin-bottom: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#simplify-ajax-loader img { 
	position: relative;
	top: 3px;
	margin-left: 10px;
}

#simplify-payment-form input, 
#simplify-payment-form select { 
	margin-left: 0; 
}

.simplifyFormContainer .secure-icon {
	position: relative;
	top: -5px;
	margin-right: 10px;
}

.secure-icon-img {
    margin:15px 0 0 5px;
}

.simplifyFormContainer .test-msg {

}

.simplifyFormContainer .card-detail {
	width: 30%;
}

.simplifyFormContainer .card-detail.first {
	width: 50px;
}

.simplifyFormContainer .card-detail-label {
	font-size: 14px;
	margin-bottom: 10px;
	color: #555;
}

.simplifyFormContainer .card-detail-text {
	font-size: 12px;
	font-weight: 700;
}

.simplifyFormContainer .new-card-note {
	font-size: 11px;
	color: #555;
}

.simplifyFormContainer .card-type-container {
	border: 1px solid transparent;
	padding: 10px 5px 10px 5px;
	-webkit-transition: all .25s ease-in;
	-moz-transition: all .25s ease-in;
	-o-transition: all .25s ease-in;
	transition: all .25s ease-in;
}

.simplifyFormContainer .card-type-container.selected {
	border: 1px solid #CCC;
	border-radius: 5px;
	background-color: #FFF;
}

.simplifyFormContainer .error-msg {
	color: #CF0101;	
	float: right;
	font-size: 15px;
	margin-top: 18px;
}

.simplifyFormContainer.box {
	padding: 14px 18px 13px;
	margin: 0 0 30px 0;
}

#trash-icon {
	position: relative;
	top: -10px;
	cursor: pointer;
}

#cc-deletion-container {
	width: 115px;
}

#cc-confirm-deletion {
	display: none;
	color: #555;
}

#cc-confirm-deletion span {
	padding-right: 5px;
	cursor: pointer;
}

#cc-deletion-msg {
	text-align: center;
	font-size: 15px;
	color: #555;
	display: none;
	margin-bottom: 10px;
}

#cc-undo-deletion-lnk {
	cursor: pointer;
}

#simplify-test-mode-msg {
	color: #CF0101;	
	display: none;
	font-size: 16px;
	margin-left: 10px;
	text-transform: capitalize;
}

.simplifyFormContainer .payment-cards {
	margin: 10px 0 25px 0;
}

.simplifyFormContainer .checker {
	float: left;
	position: relative;
	top: 5px;
}

/* Helper Styles */

.simplifyFormContainer .clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.simplify-module-wrapper .clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.simplifyFormContainer .clearfix {
	display: inline-block; 
}

.simplify-module-wrapper .clearfix {
	display: inline-block;
}

* html .simplify-clearfix { 
	height: 1%; 
}

.simplify-module-wrapper .clearfix {
	display: block; 
}

.simplifyFormContainer .clearfix {
    display: block;
}

.simplifyFormContainer .pay-by-credit-card {
    margin-top: 15px;
    font-size:23px
}

.simplify-module-wrapper .left {
	float: left;
}

.simplifyFormContainer .left {
    float: left;
}

.simplify-module-wrapper .right {
	float: right;
}

.simplifyFormContainer .right {
    float: right;
}

.simplify-module-wrapper .bold {
	font-weight: 700;
}

.simplifyFormContainer .bold {
    font-weight: 700;
}

.simplifyFormContainer .center {
	text-align: center;
}

.simplifyFormContainer .indent {
	margin-left: 50px;
	margin-top: 20px;
}

.simplifyFormContainer .small{
	font-size: 13px;
}

.simplifyFormContainer .pad-botom {
	padding-bottom: 5px;
}

.simplifyFormContainer .underline {
	text-decoration: underline;
}