/************************************* desktop menu************************************/
#menu-trigger {
	display: none;
}
#menu-wrap {
	position: relative;
	z-index: 2;
}
#menu-custom, #menu-custom ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu-custom:before, #menu-custom:after {
	display: table;
	content: "";
}
#menu-custom:after {
	clear: both;
}
#menu-custom {
	zoom: 1;
}
.desktop #menu-custom li {
	float: left;
	position: relative;
}
.desktop #menu-custom{
	background: url(../../../../img/border-2.gif) left 8px no-repeat;
	padding-left:1px;
}
.desktop #menu-custom > li{
	background: url(../../../../img/border-2.gif) right 8px no-repeat;
	padding-right:1px;
}
.desktop #menu-custom > li:first-child{}
.desktop #menu-custom a {
	float: left;
	padding: 26px 28px 19px 28px;
	color: #ffffff;
	font: bold 17px/23px 'Roboto', sans-serif;
	text-decoration: none;
	font-weight:normal;
	text-shadow: 1px 1px 1px #292621;
}
.desktop #menu-custom a:hover, .desktop #menu-custom > li:hover > a, .desktop #menu-custom > li.sfHoverForce > a {
		background: url(../../../../img/border-1.gif) left 0px repeat-x;
}
.desktop #menu-custom li li:hover > a {
	color: #8fba16;
	background:none;
}
.desktop #menu-custom ul {
	display: none;
	margin: 20px 0 0 0;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 68px;
	left: 0;
	z-index: 1;
	padding:0px 0px 0px 0px;
	background: #4a4641;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.desktop #menu-custom li:hover > ul {
	display: block;
	opacity: 1;
	visibility: visible;
	margin: 0;
}
.desktop #menu-custom ul ul {
	top: 1px;
	left: 220px;
	margin: 0 0 0 0px;
}
.desktop #menu-custom ul li:first-child a{
	border:none;
}
.desktop #menu-custom ul li {
	display: block;
	float: none;
	padding: 0px 0px 0px 0px;
}
.desktop #menu-custom ul a {
	display: block;
	float: none;
		border-top:1px solid #726f6b;
	padding: 10px 10px 10px 20px;
	width: 220px;
	white-space: nowrap;
	text-transform: none;
	color:#fff;
	font: 300 13px/16px 'Roboto', sans-serif;
	text-shadow:none;
}
.desktop #menu-custom ul a:hover, .desktop #menu-custom ul li.sfHoverForce > a {
	color:#87c161;
}
#menu-trigger {
	display: none;
}
.desctop #menu-custom {
	display: block;
}
.desktop #menu-custom li.hasSub > a:before {
	content:"";
	font-family:"FontAwesome";
	margin-left:5px;
	float:right;
	font-size:14px;
}
.desktop #menu-custom li li.hasSub > a:before {
	content:"";
	font-size:14px;
}
/**************************************************mobile menu**************************************************************/
@media only screen and (max-width:1199px) {
#menu-wrap.desktop {
	display: none;
}
#menu-wrap {
	position: relative;
}
#menu-wrap * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#menu-trigger {
	height: 68px;
	line-height: 68px;
	cursor: pointer;
	padding: 0 0 0 20px;
	color: #fff;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	font-size: 23px;
}
#menu-trigger .menu-icon {
	display: block;
	font-size: 30px;
	line-height: 30px;
	width: auto;
	position: absolute;
	top: 23px;
	right: 14px;
}
.mobile #menu-custom {
	display: none;
	margin: 0;
	padding: 0px;
	position: absolute;
	top: 68px;
	left:0;
	width: 100%;
	z-index: 1;
	background:#4a4641;
}
#menu-custom ul.menu-mobile-2 {
	display: none;
}
#menu-custom li:first-child{
	border:none;
}
#menu-custom li {
	display: block;
	position: static;
	position: relative;
	border-top:1px solid #726f6b;
}
#menu-custom li:first-child{
	border-top:1px solid #726f6b;
}
#menu-custom a {
	display: block;
	float: none;
	padding: 10px 20px;
	color: #fff;
	font-size: 16px;
}
#menu-custom a:hover {
	color:#87c161;
}
#menu-custom ul a {
	padding-left: 40px;
	width: auto;
}
#menu-custom ul ul a {
	padding-left: 60px;
	width: auto;
}
.open-mobile-2 {
	display: block;
	font-size: 25px;
	line-height: 30px;
	position: absolute;
	right: 13px;
	top: 4px;
	height: 30px;
	width: 30px;
	text-align: center;
	vertical-align: middle;
	color: #fff;
}
.open-mobile-2:hover {
	cursor: pointer;
}
.open-mobile-2:hover + a {
	color:#8fba16;
}
}
