{if $htmlitems.items}
</div>
</div>
</div>
</div>
<div id="page_wrapper_4" >
<div class="container">
<div class="row">
<div id="htmlcontent_home">
    <ul class="htmlcontent-home clearfix">
        {foreach name=items from=$htmlitems.items item=hItem}
        	<li class="htmlcontent-item num-{$smarty.foreach.items.iteration}">
            	{if $hItem.url}
                	<a href="{$hItem.url}" class="item-link"{if $hItem.target == 1} target="_blank"{/if}>
                {/if}
	            	{if $hItem.image}
	                	<img src="{$module_dir}images/{$hItem.image}" class="item-img" alt="" />
	                {/if}
	            	{if $hItem.title && $hItem.title_use == 1}
                        <h3 class="item-title">{$hItem.title}</h3>
	                {/if}
	            	{if $hItem.html}
	                	<div class="item-html">
                        	{$hItem.html}                           
                        </div>
	                {/if}
            	{if $hItem.url}
                	</a>
                {/if}
            </li>
        {/foreach}
    </ul>
</div>
</div>
</div>
</div>
{/if}
