/* ************************************************************************************************
GENERAL STYLE
************************************************************************************************ */
* {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
}

option {
  padding: 2px 5px;
  border-width: 1px;
}

.alert ol li {
  list-style-type: decimal;
  margin: 0 0 5px 15px;
}

html {
  width: 100%;
  padding: 0;
  margin: 0;
  outline: 0!important;
}

img {
  max-width: 100%;
}

body {
  font: normal normal 13px/18px "Roboto", sans-serif;
  color: #35312b;
  padding: 0;
  margin: 0;
  text-align: left;
  -webkit-text-size-adjust: none;
  min-width: 320px;
  background: #EFEFEF;
}

body#cms.content_only {
  background: #fff;
  min-width: 100%;
  max-width: 100%;
  padding: 0 15px;
}
body#cms.content_only .block em {
  float: left;
  margin: 5px 15px 0 0;
  font-size: 20px;
  line-height: 20px;
}

h1 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 14px;
}

h2 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 12px;
}

h3 {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}

h4 {
  font: 14px/1.5;
  line-height: 1.5;
  margin-bottom: 8px;
}

h5 {
  font-size: 12px;
  line-height: 1.5;
  margin: 0px;
}

h6 {
  font-size: 11px;
  line-height: 1.5;
  margin-bottom: 4px;
}

p {
  margin: 0 0 20px 0;
}

a, a:visited, a:active, a:link, a:focus {
  cursor: pointer;
  text-decoration: none;
  color: #4a4641;
  outline: none;
}

a:hover {
  text-decoration: none;
  color: #6FA63A;
}

.btn i {
  margin-right: 7px;
}

.input-group-btn > .btn {
  border-left: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

ol {
  counter-reset: item;
  list-style-type: none;
  margin: 0 0 0 15px;
}

legend {
  color: black;
}

sup {
  color: #F00;
  font-size: 100%;
  top: -4px;
}

.form-control:focus {
  -webkit-box-shadow: 0 0 7px 0 rgba(210, 210, 210, 0);
  box-shadow: 0 0 7px 0 rgba(210, 210, 210, 0);
  border: 1px solid #d2d4d5;
}

.crossselling.page_product_box {
  overflow: hidden;
}

.block.myaccount li a {
  word-wrap: break-word;
}

/* ************************************************************************************************
STRUCTURE
************************************************************************************************ */
.page_wrapper_1 {
  background: url(../img/bg-main.jpg) left top repeat-x #f6f4f1;
  position: relative;
}

.banner-wrap {
  background: url(../img/bg-banner.png) left top repeat;
}

body#index .page_wrapper_2 {
  background: #FFFFFF;
  padding-bottom: 7px;
  padding-top: 39px;
}

.page_wrapper_2 {
  background: #FFFFFF;
  padding-bottom: 7px;
  padding-top: 30px;
}

#right_column {
  padding-bottom: 10px;
}

#center_column {
  padding-bottom: 30px;
}

body#index #center_column {
  padding-bottom: 0px;
}

body#index #center_column.instant {
  padding-bottom: 10px;
}

.page_wrapper_3 {
  margin-bottom: 31px;
}

#page_wrapper_4 {
  background: url(../img/bg-row.jpg) center top no-repeat #261f18;
  padding-top: 60px;
  padding-bottom: 61px;
}

/* ************************************************************************************************
MAIN STYLE STORE
************************************************************************************************ */
h1 strong {
  display: block;
  float: right;
  padding: 0px 0 0 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  font-weight: normal;
  white-space: nowrap;
  text-transform: none;
}
h1 strong a {
  color: #333333;
}

.notification {
  font: 16px Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1px;
  padding: 20px 20px 20px 60px;
  border-radius: 4px;
}
.notification strong {
  margin-right: 5px;
}
.notification p {
  font-size: 11px;
  padding: 0;
  margin: 0;
  color: #333333;
}

.notification_warning {
  background-image: url(../img/error.png);
  background-position: 15px center;
  background-repeat: no-repeat;
  border: 2px solid #FFC237;
  background-color: #FFEAA8;
  color: #826200;
}

a.product_link {
  font-size: 17px;
  color: #6FA63A;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 20px;
}
a.product_link:hover {
  color: #35312b;
}

.price {
  display: inline-block;
  color: #35312b;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

.price-old {
  text-decoration: line-through;
}

.columns .bordercolor, #columns .bordercolor {
  border-color: #d0d0d0;
}

/* ************************************************************************************************
ERRORS
************************************************************************************************ */
div.error {
  margin: 20px 0 20px 0;
  padding: 20px;
}
div.error ol {
  margin: 0;
}
div.error ol li {
  padding: 0px 0 0 0;
  list-style-position: inside;
  list-style-type: decimal;
}
div.error p {
  padding: 0;
  margin: 0 0 0px 0;
  font-size: 14px;
  text-transform: uppercase;
}
div.error p.link {
  float: right;
  margin-top: 7px;
}
div.error p.link .btn {
  color: #fff;
  font-weight: normal;
}

p.warning {
  background: #d4eeff;
  border: 1px solid #34acf9;
  margin: 20px 0 20px 0;
  padding: 12px 10px 12px 20px;
  font-size: 14px;
  color: #0473b9;
}
p.warning i {
  font-size: 25px;
  vertical-align: -3px;
  margin-right: 20px;
}

.warning_inline {
  color: #ff0000;
  font-weight: bold;
}

.alert i {
  font-size: 25px;
  vertical-align: -3px;
  margin-right: 20px;
}

.alert-error, div.error {
  background: url(../img/warning.png) 20px center no-repeat #fde4e1;
  padding-left: 70px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #ebbcb5;
  font-size: 12px;
  font-weight: bold;
  color: #df0505;
}

/* ************************************************************************************************
SUCCESS CNFIRMATION
************************************************************************************************ */
p.success, p.confirmation {
  margin: 20px 0 0 0;
  padding: 12px 10px 12px 20px;
  font: bold 12px "Arial";
  color: #95bc01;
  background: #f7fde1;
  border: 1px solid #dfebb5;
  border-radius: 5px;
}

p.success i {
  font-size: 25px;
  vertical-align: -3px;
  margin-right: 20px;
}

.success_inline {
  color: #33a33b;
  font-weight: bold;
}

.required {
  color: red;
}

#order-confirmation p.success {
  margin-bottom: 20px;
}

a.cus-suport {
  margin-left: 10px;
  color: #a9a9a9;
}

a.cus-suport:hover {
  color: #333;
}

.cus-suport i {
  margin-right: 5px;
  font-size: 13px;
}

/* ************************************************************************************************
CMS PAGE
************************************************************************************************ */
#cms #center_column div.rte .block em {
  float: left;
  font-size: 56px;
  line-height: 56px;
  min-width: 56px;
  margin-right: 25px;
  text-align: center;
}
#cms #center_column div.rte h5 {
  font-size: 13px;
  line-height: 17px;
  color: #323232;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#cms #center_column h1 {
  margin-bottom: 2px;
}
#cms #center_column h1 a {
  color: #333;
}
#cms #center_column h2 {
  padding-bottom: 9px;
}
#cms #center_column .titled_box p {
  margin-bottom: 4px;
}
#cms #center_column .titled_box.titled_box_center p {
  margin-bottom: 20px;
}
#cms #center_column .titled_box h2 {
  margin-top: 6px;
}
#cms #center_column .titled_box.titled_box_center h2 {
  margin-top: 0;
  text-align: center;
}
#cms #center_column .titled_box.titled_box_center h2 span {
  display: inline-block;
  padding: 4px 10px 0px 10px;
}
#cms #center_column .titled_box .img_cms {
  margin-bottom: 9px;
}

.center_column .rte ul {
  margin: -15px 0 -3px 0px;
  padding: 0px 0 0 0;
  list-style: none;
}

#center_column .block-cms .title_block {
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  margin: 0 0 10px 0;
  padding-top: 10px;
}
#center_column .block-cms ul {
  margin-left: 10px;
}
#center_column .block-cms ul li a {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
}
#center_column .block-cms ul li a i {
  font-size: 11px;
  color: #FFA900;
}
#center_column .block-cms h1 {
  margin-bottom: 10px;
}

/* ************************************************************************************************
	BUTTONS
************************************************************************************************ */
input.button_mini, input.button_small, input.button, input.button_large, input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled, input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large, input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled, a.button_mini, a.button_small, a.button, a.button_large, a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large, span.button_mini, span.button_small, span.button, span.button_large, span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {
  display: inline-block;
  padding: 12px 20px 14px 20px;
  font: bold 17px/21px "Roboto", sans-serif;
  color: #fff;
  border: none;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: pointer;
  filter: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  white-space: normal;
  text-align: left;
  background: #6FA63A;
  text-shadow: 1px 1px 1px #68944b;
}
input.button_mini:focus, input.button_small:focus, input.button:focus, input.button_large:focus, input.button_mini_disabled:focus, input.button_small_disabled:focus, input.button_disabled:focus, input.button_large_disabled:focus, input.exclusive_mini:focus, input.exclusive_small:focus, input.exclusive:focus, input.exclusive_large:focus, input.exclusive_mini_disabled:focus, input.exclusive_small_disabled:focus, input.exclusive_disabled:focus, input.exclusive_large_disabled:focus, a.button_mini:focus, a.button_small:focus, a.button:focus, a.button_large:focus, a.exclusive_mini:focus, a.exclusive_small:focus, a.exclusive:focus, a.exclusive_large:focus, span.button_mini:focus, span.button_small:focus, span.button:focus, span.button_large:focus, span.exclusive_mini:focus, span.exclusive_small:focus, span.exclusive:focus, span.exclusive_large:focus {
  outline: none;
  text-shadow: 1px 1px 1px #393632;
}
input.button_mini:hover, input.button_small:hover, input.button:hover, input.button_large:hover, input.button_mini_disabled:hover, input.button_small_disabled:hover, input.button_disabled:hover, input.button_large_disabled:hover, input.exclusive_mini:hover, input.exclusive_small:hover, input.exclusive:hover, input.exclusive_large:hover, input.exclusive_mini_disabled:hover, input.exclusive_small_disabled:hover, input.exclusive_disabled:hover, input.exclusive_large_disabled:hover, a.button_mini:hover, a.button_small:hover, a.button:hover, a.button_large:hover, a.exclusive_mini:hover, a.exclusive_small:hover, a.exclusive:hover, a.exclusive_large:hover, span.button_mini:hover, span.button_small:hover, span.button:hover, span.button_large:hover, span.exclusive_mini:hover, span.exclusive_small:hover, span.exclusive:hover, span.exclusive_large:hover {
  background: #35312b;
  text-shadow: 1px 1px 1px #302c27;
  color: #fff;
}

input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled, input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled, span.button_mini, span.button_small, span.button, span.button_large, span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {
  cursor: default;
  color: #7c7c7c;
  background: #ccc;
}

a.btn_add_cart.btn {
  background: #6FA63A;
  border: none;
  overflow: hidden;
}
a.btn_add_cart.btn span:before {
  /*
   content: "";   
  */
  font-family: 'FontAwesome';
  padding: 15px 13px 15px 14px;
  text-shadow: 1px 1px 1px #3b3834;
  font-size: 25px;
  color: #fff;
  float: right;
  border-left: 1px solid #f6f4f1;
  background: #4a4641;
  vertical-align: -1px;
  margin: -13px -20px -15px 19px;
}
a.btn_add_cart.btn:hover {
  background: #35312b;
  color: #fff;
  border: none;
  text-shadow: 1px 1px 1px #3b3834;
}
a.btn_add_cart.btn:focus {
  background: #35312b;
  color: #fff;
  border: none;
}

a.btn_add_cart.btn:hover span:before {
  color: #87c161;
  background: #35312b;
}

span.exclusive.disabled {
  text-shadow: 1px 1px 1px #393632;
}

span.exclusive.disabled:before {
  content: "";
  font-family: 'FontAwesome';
  display: inline-block;
  padding-right: 5px;
  font-size: 18px;
  vertical-align: -1px;
  text-shadow: 1px 1px 1px #393632;
}

.btn-img {
  padding: 2px 12px 1px 3px!important;
}

/* ************************************************************************************************
	FORM
************************************************************************************************ */
form {
  margin: 0 0 20px 0;
  padding: 0;
}

select, textarea {
  display: block;
  background-color: white;
  font: normal normal 13px/18px "Roboto", sans-serif;
  border: 1px solid #d0d0d0;
  color: #000;
  margin: 0 0 12px 0;
  padding: 6px;
  height: 32px;
  width: 100%;
  outline: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-appearance: none;
}

textarea {
  height: auto;
  resize: none;
}

select, select:focus, select:focus {
  width: 100%;
  outline: none;
}

select.btn-mini {
  height: auto;
  line-height: 14px;
}

select.btn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  padding-right: 16px;
}

select.btn-mini + .caret {
  margin-left: -20px;
  margin-top: 9px;
}

input[type=submit], input[type=button] {
  -webkit-border-radius: 0px;
}

label {
  display: inline-block;
  font-size: 13px;
  color: #333;
  cursor: default;
  font-weight: normal;
}

input, textarea, select, .uneditable-input {
  margin-bottom: 0;
}

.radio input[type="radio"], .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0px;
}

input[type="radio"], input[type="checkbox"] {
  line-height: normal;
  margin: 2px 0 0;
}

form p.id_state {
  display: none;
}

form.std .select span, form.std .radio span, form.std .checkbox span {
  text-align: left;
  padding: 0px 0px 0 0;
  color: #333;
}

form.std span.inline-infos {
  display: block;
  margin: 0 0 -3px 0;
  padding: 2px 0 0 157px;
  font: normal 11px "Arial";
  color: #3a3a3a;
}

span.editable {
  float: none;
  padding: 0 0 0 7px;
  font: normal 12px "Arial";
  color: #3a3a3a;
  margin: 0;
}

span.form_info {
  padding: 0 0 0 5px;
  color: #333;
  font-style: italic;
}

input:focus {
  outline: none;
}

form.std .required_desc {
  margin: 0 0 -3px 0;
  padding-left: 157px;
}

#order-detail-content-table td:first-child {
  padding-left: 10px;
}

#block-order-detail .adresses_bloc ul {
  padding: 20px 4%;
  border: 1px solid #d0d0d0;
  background: #fdfdfd;
  margin-bottom: 20px;
}

.tit-ord {
  margin-bottom: 7px;
}

#order-detail-content-table tfood td strong {
  margin-right: 10px;
}

#authentication form.std .text input, #authentication form.std .password input, #identity input[type="text"], #identity input[type="password"] {
  width: 100%;
}

#vat_area {
  padding-bottom: 12px;
}

#add_address .submit2 {
  padding: 0;
  margin: 10px 0 0 0;
}

#add_address input[type="text"], #add_address input[type="password"], #add_address input[type="date"], #add_address input[type="datetime"], #add_address input[type="email"], #add_address input[type="number"], #add_address input[type="search"], #add_address input[type="tel"], #add_address input[type="time"], #add_address input[type="url"] {
  width: 100%;
}

#add_address textarea {
  margin-bottom: 20px;
  height: 100px;
}

#add_address .inline-infos.required {
  margin-bottom: 5px;
}

.order_qte_input + label {
  float: left;
  margin-left: 5px;
}

#order-detail-content td {
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ************************************************************************************************
TABLE
************************************************************************************************ */
/*div.table_block {
	padding: 20px 0 0 0;
}
table.std th, table.std td {
	vertical-align: middle;
}
table.std th {
	white-space: nowrap;
	background: #f5f5f5;
}
table.std tfoot td {
	color: #333;
	text-align: right;
	white-space: nowrap;
}
table, table.std {
	background: #fdfdfd;
	border-spacing: 0;
	margin-bottom: 20px;
	vertical-align: middle;
	border: $main_border;
	width: 100%;
}
table th {
	border: $main_border;
	color: #7a7a7a;
	font-size: 13px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
}
table td {
	border: $main_border;
	padding: 10px;
}
.delivery_option table td {
	text-align: center;
}*/
table tfoot td {
  text-align: right;
}

/* ************************************************************************************************
FOOTER LINK PAGE
************************************************************************************************ */
ul.footer_links {
  padding: 20px 0 0 0;
}

ul.footer_links li {
  float: left;
  margin: 0 25px 0 0;
}

ul.footer_links li img.icon {
  margin: -3px 5px 0 0;
}

ul.footer_links li a {
  font-size: 15px;
}

ul.footer_links li a i {
  font-size: 25px;
  vertical-align: -3px;
  margin-right: 5px;
}

.footer_link_bottom i {
  font-size: 25px;
  vertical-align: -3px;
}

.footer_link_bottom a {
  font-size: 14px;
}

.form-control {
  border-radius: 0;
}

/* ************************************************************************************************
PRODUCT SORT 
************************************************************************************************ */
.sortPagiBar .btn, .sortPagiBar .btn-group > .btn:first-child {
  padding-right: 27px;
  border-radius: 0;
}

.sortPagiBar .caret {
  position: absolute;
  right: 10px;
}

.sortPagiBar {
  padding: 0px 0 10px 0;
  margin-bottom: 30px;
}

.sortPagiBar p {
  padding: 0;
  margin: 0;
}

.nbrItemPage {
  float: left;
}

.nbrItemPage label {
  float: left;
}

.dropdown-menu li > a {
  padding: 6px 10px 6px 10px;
}

.dropdown-menu li > a:hover {
  background: #333;
}

.dropdown-menu {
  padding: 0;
  border-radius: 0;
  min-width: 215px;
}

#itempage {
  float: left;
  margin: 0;
}

.nbrItemPage label {
  padding: 5px 10px 0 0;
}

.nbrItemPage.nbr_page {
  margin: 0 0 10px 0;
  position: relative;
}

.nbrItemPage.nbr_page .b-core-ui-select {
  width: 50px;
}

.product_view {
  float: right;
}

.product_view li {
  float: left;
  cursor: pointer;
  color: #9D9C9C;
  display: block;
}

.product_view li i {
  display: inline-block;
  font-size: 30px;
  vertical-align: middle;
}

.product_view li.current {
  cursor: default;
  color: #000;
}

.product_view li#product_view_list {
  margin-left: 10px;
}

#productsSortForm {
  float: left;
  margin-right: 30px;
  margin-bottom: 10px;
  position: relative;
}

#productsSortForm .dropdown-toggle {
  float: left;
}

/* ************************************************************************************************
PAGINATION AND COMPARE
************************************************************************************************ */
.bottom_pagination.shop_box_row {
  padding: 20px 0 0px 0;
  border-bottom: none;
  border-top: 1px solid #d0d0d0;
}

.bottom_pagination > form > p {
  margin: 0;
}

.bottom_pagination > form {
  float: right;
  margin: 0;
}

#pagination_form {
  float: left;
}

#pagination_form select {
  float: left;
  margin: 0px 0 0 0;
}

#pagination_form label {
  display: inline-block;
  float: left;
  padding: 3px 12px 0 20px;
}

.pagination {
  float: left;
  list-style-type: none;
  margin: 0;
  font-size: 13px;
}

.pagination > li {
  margin-right: 4px;
  float: left;
  font-size: 13px;
}

.pagination li .button {
  background: #29363e;
  color: #fff;
  border: 1px solid #29363e;
  text-shadow: none;
  font-size: 13px;
}

.pagination li .button:hover {
  background: #87c161;
  border: 1px solid #87c161;
  text-shadow: none;
}

.pagination li span.button,
.pagination li span.button:hover {
  background: #d9d9d9;
  border: 1px solid #d9d9d9;
  text-shadow: none;
  font-size: 13px;
}

form.pagination {
  float: right;
}

.pagination ul {
  border-radius: 0px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
  border-radius: 0px;
}

.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
  border-radius: 0px;
}

.pagination ul > li > a, .pagination ul > li > span {
  border: none;
  line-height: 30px;
  padding: 0 10px;
  border-color: #D4D4D4 #A5A5A5 #A5A5A5 #D4D4D4;
  border-style: solid;
  border-width: 1px;
}

/* ************************************************************************************************
SUBCATEGORIES
************************************************************************************************ */
.row_category {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d0d0d0;
}
.row_category .category_image {
  float: left;
  margin-right: 20px;
}

.center_column .cat_desc {
  margin: 0px 0px 0px 0px;
  position: relative;
}
.center_column .cat_desc .lnk_more {
  margin-left: 10px;
  font: bold normal 13px Arial, Helvetica, sans-serif;
}
.center_column .cat_desc .lnk_more_cat {
  display: inline-block;
  font-weight: bold;
  font-style: normal;
  color: #4a4641;
  margin-left: 5px;
  cursor: pointer;
}
.center_column .cat_desc .lnk_more_cat:hover {
  color: #87c161;
}

#subcategories {
  margin-bottom: 20px;
  border-bottom: 1px solid #d0d0d0;
}
#subcategories ul {
  margin-bottom: 0px;
}
#subcategories ul li {
  margin: 0px 0px 20px 0px;
}
#subcategories ul li.product_list_5, #subcategories ul li.product_list_6 {
  margin-right: 0;
}
#subcategories ul li a {
  display: block;
}
#subcategories ul li a.lnk_more_sub {
  margin: 12px 0 0px 0;
  font-size: 13px;
  font-weight: bold;
  color: #4a4641;
}
#subcategories ul li a.lnk_more_sub:hover {
  color: #87c161;
}

#subcategories ul li a.lnk_more_sub {
  display: inline-block;
  text-transform: uppercase;
  font-weight: normal;
  text-transform: uppercase;
}

/* ************************************************************************************************
		HEADER
************************************************************************************************ */
#header {
  padding-bottom: 5px;
}
#header #header_logo {
  display: block;
  position: absolute;
  left: 0px;
  top: 35px;
}
#header #header_right {
  padding: 140px 0px 0px 0px;
  z-index: 101;
  position: relative;
}

/* ************************************************************************************************
		BLOCKPERMANENTLINKS
************************************************************************************************ */
.blockpermanentlinks-header {
  position: absolute;
  left: 543px;
  top: 25px;
}

#header_links li {
  float: left;
  margin: 0 0px 0 25px;
}

#header_links li a {
  color: #35312b;
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.2em;
  font-family: 'Roboto', sans-serif;
  padding: 0px 0px 0px 0px;
}

#header_links li a:hover, body#index a.header_links_home, #sitemap a.header_links_sitemap, #contact a.header_links_contact, #cms a.header_links_delivery, #stores a.header_links_store {
  color: #87c161;
}

.mobile-link-top {
  display: none;
}

/* ************************************************************************************************
		LANGUAGES AND CURRENCIES
************************************************************************************************ */
#currencies_block_top, #languages_block_top {
  position: absolute;
  right: 200px;
  top: 25px;
}

#currencies_block_top form {
  margin: 0;
}

#languages_block_top:hover, #currencies_block_top:hover, .mobile-link-top h4 {
  cursor: pointer;
}

.list_header {
  display: none;
  z-index: 1000;
  width: 140px;
  position: absolute;
  right: 0px;
  top: 25px;
  list-style: none;
  background: #4a4641;
}

#currencies_block_top p.inner-carrencies, #languages_block_top p, .mobile-link-top h4 {
  color: #35312b;
  font-size: 13px;
  position: relative;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0;
}

.list_header li {
  border-top: 1px solid #726f6b;
}

.list_header li:first-child {
  border: none;
  border: 3px 3px 0 0;
}

.list_header li a {
  border: none;
  border: 3px 3px 0 0;
}

.list_header li.selected {
  padding: 8px 0 8px 10px;
  cursor: default;
  color: #87c161;
}

.list_header li.selected a {
  cursor: default;
  color: #87c161;
}

.list_header li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  padding: 8px 5px 8px 10px;
  font-weight: normal;
}

.list_header li a:hover {
  color: #87c161;
}

.list_header li.selected span {
  cursor: default;
  font-weight: normal;
  color: #87c161;
}

.arrow_header_top {
  width: auto;
  font-size: 13px;
  color: #35312b;
  line-height: 16px;
  display: inline-block;
  vertical-align: 0px;
  margin-left: 8px;
}

#currencies_block_top p.inner-carrencies strong,
#languages_block_top .selected_language strong {
  font-size: 13px;
  font-weight: 300;
  color: #35312b;
  font-family: 'Roboto', sans-serif;
  margin-left: 2px;
}

#languages_block_top .selected_language strong .first_language {
  display: none;
}

/* languages */
#languages_block_top {
  right: 327px;
}

#countries_2 .countries_ul li img {
  float: left;
  margin: 2px 10px 0px 0px;
}

#countries_2 .countries_ul li span .firstWord {
  display: none;
}

#countries_2 .countries_ul li span {
  display: block;
}

/* currencies */
#setCurrency .currencies_ul li span {
  display: inline-block;
  padding-right: 10px;
  font-weight: bold;
}

#setCurrency .currencies_ul li.selected {
  padding: 8px 5px 8px 10px;
  font-weight: normal;
  cursor: default;
}

.lang_fr .blockpermanentlinks-header {
  left: 509px;
}

/* ************************************************************************************************
		BLOCK HEADER USER INFO LOGIN/LOGOUT
************************************************************************************************ */
.blockuserinfo {
  position: absolute;
  top: 50px;
  right: 197px;
}

.blockuserinfo a span {
  display: inline-block;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  font-size: 17px;
  line-height: 17px;
  font-family: 'Roboto', sans-serif;
  color: #87c161;
}

.blockuserinfo a:hover span {
  color: #35312b;
}

.blockuserinfo a span b {
  font-weight: bold;
}

.blockuserinfo a span i {
  font-size: 16px;
  color: #333333;
  line-height: 16px;
  margin-right: 7px;
  display: inline-block;
  vertical-align: -1px;
  display: none;
}


#your_account {
  top: 70px;
  right: 198px;
  font-weight: bold;
  position: absolute;
}


#your_account a {
  color: #6FA63A;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}

#your_account a:hover {
  color: #35312b;
}

.lang_ru .blockpermanentlinks-header,
.lang_es .blockpermanentlinks-header {
  left: 492px;
}

#cms #center_column div.rte .block em {
  color: #87c161;
}

/* ************************************************************************************************
		BLOCK HEADER USER INFO SHOPPING CART
************************************************************************************************ */
#header_user {
  position: absolute;
  right: 0;
  top: 0px;
  z-index: 99;
}

#header_user #shopping_cart a {
  display: inline-block;
  overflow: hidden;
  padding: 17px 0px 29px 17px;
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  background: #6FA63A;
  min-width: 170px;
  border-top: 8px solid #35312b;
}

#header_user.close-cart #shopping_cart a,
#header_user #shopping_cart a:hover {
  background: #82C344;
  color: #fff;
}

#header_user #shopping_cart .shopping_cart_title:before {
  content: "";
  font-family: 'FontAwesome';
  font-size: 35px;
  vertical-align: -1px;
  margin-right: 8px;
  text-shadow: 1px 0px 1px #68944b;
}

#header_user #shopping_cart .shopping_cart_title {
  display: inline-block;
  float: left;
  padding: 0 0px 0 0;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
}

#header_user #shopping_cart span {
  margin-right: 6px;
}

#header_user #shopping_cart .opancart {
  position: absolute;
  bottom: 35px;
  left: 79px;
  font-size: 25px;
  color: #ffffff;
  text-shadow: 1px 0px 1px #68944b;
  
}

.hide {
  display: none;
  visibility: inherit;
}

.visible {
  display: block;
}

.zoom_one {
  zoom: 1;
}

.f_left {
  float: left;
}

.low_opacity {
  opacity: 0.3;
}

.bottom_indent {
  margin-bottom: 15px !important;
}

.detail_step_by_step thead tr th.first_item {
  width: 150px;
}

.ml_none {
  margin-left: 0 !important;
}

.extra-wrap {
  overflow: hidden;
}

/* ************************************************************************************************
		SEARCH
************************************************************************************************ */
#search_block_top {
  position: absolute;
  top: 158px;
  right: 0px;
  margin: 0px;
  border: 1px solid #726f6b;
  padding: 2px 3px 2px 2px;
  z-index: 4;
  background: #292724;
}

#search_block_top label {
  display: none;
}

#search_block_top form, #search_block_top p {
  margin: 0;
}

#search_block_top input.search_query {
  float: left;
  margin: 0px;
  height: 34px;
  line-height: 20px;
  background: #292724;
  padding: 0px 10px 0px 10px;
  width: 135px;
  position: relative;
  color: #fff;
  vertical-align: middle;
  border: none;
  box-shadow: none;
  border-right: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-modify: read-write-plaintext-only;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

#search_block_top input.search_query:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#search_block_top a {
  display: block;
  float: left;
  padding: 0;
  width: 30px;
  height: 34px;
  border-radius: 2px;
  text-align: center;
  color: #fff;
}

#search_block_top a:hover {
  color: #87c161;
}

#search_block_top a span {
  display: none;
}

#search_block_top a i {
  font-size: 14px;
  line-height: 34px;
  width: 100%;
  height: 100%;
}

.ac_results {
  width: 171px!important;
  border: 1px solid #ddd!important;
  margin-top: 4px!important;
  margin-left: -2px !important;
}

.ac_over {
  background: #333!important;
}

#instant_search_results .title_shop_block {
  float: right;
  width: 45%;
  text-align: right;
  padding-right: 0;
}

/* ************************************************************************************************
		MAIN STYLE BOX
************************************************************************************************ */
.new-box {
  left: 20px;
  position: absolute;
  top: 20px;
  padding: 7px 10px 9px 10px;
  background: #4a4641;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px #3b3834;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.sale-box {
  right: 20px;
  padding: 7px 10px 9px 10px;
  position: absolute;
  top: 20px;
  background: #fd5c68;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px 1px #c24750;
}

.column .block {
  margin: 0 0 0px 0;
}

h1, .column .block h4, .center_column .block h4, #layered_block_left h3 {
  color: #35312b;
  font-size: 28px;
  line-height: 29px;
  font-weight: normal;
  padding: 10px 12px 12px 0px;
  margin: 0 0 15px 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
h1 a, .column .block h4 a, .center_column .block h4 a, #layered_block_left h3 a {
  color: #35312b;
}

h1#instant_search_results {
  overflow: hidden;
}
h1#instant_search_results a {
  color: #333;
}
h1#instant_search_results a:hover {
  text-decoration: underline;
}

.inner_content {
  margin-bottom: 30px;
  position: relative;
}

.main_page_products li .product_image {
  text-align: center;
}
.main_page_products li h5 {
  padding: 15px 0 1px 0;
}
.main_page_products li p.price_container {
  margin-bottom: 0;
  padding-bottom: 4px;
  padding-top: 4px;
}
.main_page_products li a.button, .main_page_products li a.exclusive, .main_page_products li span.exclusive {
  margin-top: 3px;
}

.main_page_products a.product_image {
  display: block;
}

.main_page_products .price-old {
  font-size: 17px;
  font-weight: bold;
  color: #fd5c68;
}

.main_page_products a.exclusive,
.main_page_products span.exclusive {
  margin-right: 3px;
}

.main_page_products .product_desc {
  margin-bottom: 0;
  font-weight: 300;
  line-height: 21px;
}

.main_page_products .price {
  font-size: 17px;
}

.column .block h4 a:hover {
  color: #8b12a0;
}

.column .block h4 .column_icon_toggle {
  display: none;
}

.column .block.myaccount ul li a img {
  display: none;
}

#layered_block_left h4.toggle {
  margin-bottom: 18px;
}

/* ************************************************************************************************
		CATEGORIES
************************************************************************************************ */
#categories_block_left .block_content {
  padding: 0 0px 0px 0px;
}

#categories_block_left ul.tree {
  padding: 0px 0 0 0;
  list-style: none;
}

#categories_block_left ul.tree li {
  position: relative;
}

#categories_block_left ul > li {
  padding: 7px 0;
  border-top: 1px solid #d0d0d0;
}
#categories_block_left ul > li:first-child {
  border: none;
}

#categories_block_left ul li a {
  display: inline-block;
}
#categories_block_left ul li a i {
  margin-right: 10px;
}

#categories_block_left ul.tree li a:hover, #categories_block_left ul.tree a.selected, #categories_block_left .grower:hover + a {
  color: #666;
}

#categories_block_left ul.tree li ul li a {
  padding-left: 20px;
}

#categories_block_left ul.tree li ul li ul li a {
  padding-left: 30px;
}

#categories_block_left .grower {
  display: block;
  width: 13px;
  height: 13px;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 11px;
}

#categories_block_left .OPEN {
  color: #666;
}

#categories_block_left .CLOSE {
  background: url(../img/plus_minus.png) 0px 0px no-repeat;
}

/* ************************************************************************************************
		Filter
************************************************************************************************ */
#layered_block_left ul li .disabled {
  color: #666;
}

#layered_block_left h2 {
  padding: 0;
  margin-bottom: 15px;
  color: #87c161;
}

#layered_block_left label {
  margin-bottom: 0;
  display: inline;
}

#layered_block_left input[type="radio"] {
  float: left;
  margin: 0 5px 0 0;
}

#layered_block_left .control-label {
  padding-left: 0;
  padding-right: 0;
  line-height: 32px;
}

#layered_block_left li.nomargin {
  margin-bottom: 5px;
}
#layered_block_left li.nomargin:last-child {
  margin-bottom: 0;
}

#layered_block_left .link_type {
  color: #4a4641;
  cursor: pointer;
  float: left;
  clear: left;
}
#layered_block_left .link_type:hover {
  color: #87c161;
}

#layered_block_left .store_list_filter {
  margin: 0px 0 15px;
}

#layered_block_left span.layered_close {
  float: right;
}

#layered_block_left .hide-action {
  display: block;
  text-align: right;
  padding-right: 5px;
}

#layered_block_left .hide-action:hover {
  text-decoration: underline;
}

#layered_block_left span.layered_close a {
  display: block;
  outline: none;
}

#layered_block_left .nomargin a {
  display: inline;
  font-size: 12px;
}

#layered_block_left div.radio {
  margin-right: 11px;
  margin-top: 1px;
}

#layered_block_left div.checker {
  margin-right: 12px;
}

#layered_block_left .nomargin a span {
  color: #87c161;
  font-weight: normal;
}

#layered_block_left .color-option {
  border: 1px solid #666666;
  height: 16px;
  margin-left: 0;
  padding: 0;
  width: 16px;
}

#layered_block_left .color-option.disable {
  opacity: 0.5;
  -moz-opacity: 0.5;
}

.layered_slider {
  margin-top: 5px;
}

.layered_slider_container {
  margin: 6px auto 0px auto;
  width: 93%;
}

.layered_list_selected {
  font-weight: bold;
}

.layered_ajax_loader p {
  margin: 20px 0;
  text-align: center;
}

.hide-action {
  display: block;
  text-align: center;
  text-align: right;
  cursor: pointer;
}

#layered_form #enabled_filters {
  margin-top: -15px;
  margin-bottom: 16px;
}

#enabled_filters h2 {
  text-align: center;
  background: url(../img/line-bg.gif) repeat-x left 20px;
  font-style: italic;
  color: #333;
  padding: 13px 0 10px 0;
}

#enabled_filters h2 span {
  padding: 0 10px 0 10px;
}

#layered_form #enabled_filters ul {
  border-bottom: 1px solid #d0d0d0;
}

#enabled_filters ul li {
  padding: 5px 0;
  color: #333;
  line-height: 24px;
  font-style: italic;
}

#enabled_filters ul li.enabled_filters_extra {
  color: #a9a9a9;
}

#enabled_filters li a {
  float: right;
  margin: 0px 0px 0 10px;
  outline: none;
  font-size: 20px;
  line-height: 20px;
}

#enabled_filters li a:hover {
  color: #a9a9a9;
}

#layered_form .color-option {
  margin-left: 0;
  width: 25px;
  height: 25px;
  padding: 0;
  border-radius: 25px;
  border: none;
}

#ul_layered_id_attribute_group_2 li {
  float: left;
  padding: 0px 0 8px 0;
}

#layered_block_left #ul_layered_id_attribute_group_2 {
  padding-bottom: 0;
}

#ul_layered_id_attribute_group_2 li label {
  display: none;
}

#ul_layered_id_attribute_group_2 li input {
  margin-right: 20px;
}

#layered_form .color-option.on {
  box-shadow: 0px 0px 5px 0px #a9a9a9;
}

#layered_block_left .color-option.disable {
  opacity: 0.5;
  -moz-opacity: 0.5;
}

#product_list .warning {
  margin-top: 13px;
}

.layered_price ul {
  width: 100%;
}

.loader_position {
  position: absolute;
  left: 45%;
  top: 20px;
}

/* ************************************************************************************************
		TAGS BLOCK
************************************************************************************************ */
#tags_block_left p a {
  margin: 0 0.1em;
  line-height: 1.5em;
  padding: 2px 2px 5px 2px;
}

a.tag_level3 {
  font-size: 1.5em;
  font-weight: bold;
}

a.tag_level2 {
  font-size: 1.4em;
}

a.tag_level1 {
  font-size: 1em;
}

/* ************************************************************************************************
		BLOCK  PRODUCT COLUMN
************************************************************************************************ */
.column_box .toggle_content {
  margin-bottom: 30px;
}
.column_box .toggle_content > a {
  margin-top: 20px;
}
.column_box .toggle_content form {
  margin: 15px 0 0 0;
}

.products_block ul li {
  padding: 0px 0px 20px 0px;
  margin-bottom: 20px;
}
.products_block ul li:last-child {
  margin-bottom: 0;
}
.products_block ul li > div {
  float: left;
  width: 170px;
  padding: 0 0px 0 0px;
}
.products_block ul li h5 {
  padding-bottom: 7px;
}
.products_block ul li a.products_block_img {
  display: block;
  float: left;
  width: 70px;
  margin-right: 12px;
}
.products_block ul li p {
  margin-bottom: 10px;
}
.products_block ul li .reduction {
  color: #a9a9a9;
  font-style: italic;
  margin-left: 14px;
  margin-right: 15px;
}
.products_block ul li span.price-discount {
  display: inline-block;
  text-decoration: line-through;
  margin-top: 0px;
}
.products_block ul li .price {
  float: left;
  font-size: 14px;
}

.products_block ul li .price.reduction {
  color: #fc3030;
}

.cart_navigation .exclusive,
.cart_navigation .button,
.cart_navigation .button_large,
.cart_navigation .exclusive_large {
  font-size: 12px;
}

/* ************************************************************************************************
BLOCK STORE
************************************************************************************************ */
#stores_block_left p {
  text-align: center;
  margin: 0;
}

#stores_block_left p a img {
  margin: 0 0 20px 0;
}

/* ************************************************************************************************
BLOCK MANUFACTURE AND SUPPLIER
************************************************************************************************ */
.blockmanufacturer li.last {
  border: none;
}

#viewed-products_block_left ul li.last {
  border: none;
  padding-bottom: 0;
}

/* ************************************************************************************************
BLOCK HEADER CART
************************************************************************************************ */
#header #cart_block {
  display: none;
  z-index: 999;
  position: absolute;
  right: 0px;
  top: 100px;
  width: 285px;
  background: #fff;
  border: 1px solid #4A4641;
}
#header #cart_block .toggle_content {
  margin: 10px 10px 0 10px;
}
#header #cart_block h4 {
  display: none;
}

/* ************************************************************************************************
BLOCK CART
************************************************************************************************ */
#cart_block #cart_block_no_products {
  margin: 0 0 10px 0;
}
#cart_block #cart_block_summary {
  display: none;
  padding: 10px 0 0 0;
}
#cart_block #cart_block_summary span {
  color: #000;
}
#cart_block #cart_block_summary span.ajax_cart_total {
  margin: 0 0 0 5px;
  font-weight: bold;
}
#cart_block .quantity-formated {
  display: inline-block;
  float: left;
  margin-right: 5px;
  line-height: 16px;
  color: #343336;
}
#cart_block #cart_block_list dl {
  margin: 0;
}
#cart_block #cart_block_list dl dt {
  padding: 10px 0 0px 0;
  border-top: 1px dotted #d0d0d0;
  position: relative;
  clear: both;
}
#cart_block #cart_block_list dl dt:first-child {
  border: none;
}
#cart_block #cart_block_list dl dt a {
  display: inline-block;
  float: left;
  line-height: 17px;
}
#cart_block #cart_block_list dl dt a img {
  display: inline-block;
  margin-right: 10px;
  margin: 0px 0 10px 0;
}
#cart_block #cart_block_list dl dd {
  position: relative;
  margin: 0px 0 10px 0px;
}
#cart_block #cart_block_list dl dd a {
  font-style: italic;
}

#cart_block .cart-images {
  width: 70px;
  margin-right: 10px;
}
#cart_block .remove_link {
  position: absolute;
  right: 7px;
  top: 15px;
  height: 24px;
  width: 19px;
}
#cart_block .remove_link a {
  display: block;
  z-index: 9;
  height: 24px;
  width: 19px;
  margin-top: 0px;
  margin-left: 5px;
  font-size: 24px;
  line-height: 24px;
}
#cart_block .remove_link a:hover {
  color: #A9A9A9;
}
#cart_block .products .price {
  display: inline-block;
  padding: 15px 0 5px 0;
  width: 150px;
  font-size: 17px;
}

#cart_block table#vouchers {
  clear: both;
  width: 100%;
  position: relative;
  border: none;
  background: none;
}
#cart_block table#vouchers td {
  border: none;
}
#cart_block table#vouchers td.quantity {
  margin-right: 5px;
  min-width: 18px;
}
#cart_block table#vouchers td.delete a {
  padding: 0;
  width: 9px;
  height: 9px;
  position: absolute;
  right: 0;
  top: 7px;
}

#cart_block ul.cart_block_customizations {
  padding: 0 0 0 13px;
  list-style: none;
}

#cart_block ul.cart_block_customizations li {
  font: 11px/15px "Arial";
}

#cart_block ul.cart_block_customizations li .quantity-formated {
  line-height: 14px;
}

#cart_block ul.cart_block_customizations div.deleteCustomizableProduct {
  width: 9px;
  height: 9px;
  position: absolute;
  right: 3px;
  top: 3px;
}

#cart_block ul.cart_block_customizations div.deleteCustomizableProduct a {
  display: block;
  background: url(../img/icon/delete.gif) no-repeat 0 0;
  height: 9px;
  width: 9px;
}

#cart_block .cart-prices div {
  border-top: 1px dotted #d0d0d0;
  padding: 7px 0px 7px 0px;
}

#cart_block #cart_block_shipping_cost, #cart_block #cart_block_total, #cart_block #cart_block_wrapping_cost {
  float: right;
}

#cart_block #cart-buttons {
  display: block;
}

#cart_block #cart-buttons #button_order_cart {
  float: left;
  margin-bottom: 10px;
}

#cart_block p#cart-buttons {
  padding: 10px 0 0 0px;
  margin: 0;
  border-top: 1px dotted #d0d0d0;
  overflow: hidden;
}

#cart_block p#cart-buttons a.button_mini {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* ************************************************************************************************
		BREADCRUMB
************************************************************************************************ */
#center_column .breadcrumb {
  display: none;
}

.breadcrumb {
  background: none;
  border-radius: 0;
  padding-left: 0;
  padding-top: 4px;
  display: none;

}
.breadcrumb .breadcrumb_inset {
  overflow: hidden;
}
.breadcrumb a i {
  vertical-align: -4px;
  font-size: 25px;
}
.breadcrumb .navigation-pipe, .breadcrumb .navigation_page {
  font-size: 14px;
  line-height: 22px;
}
.breadcrumb .navigation-pipe {
  margin: 0 10px 0 10px;
}

/* ************************************************************************************************
CONTACT PAGE
************************************************************************************************ */
#contact_form p.desc_contact {
  padding: 0;
  margin-bottom: 10px;
  color: #0099ff;
}

#desc_contact0 {
  display: none;
}

.title-pagecontact i {
  margin-right: 7px;
}

/* ************************************************************************************************
HISTORY
************************************************************************************************ */
#order-list td.history_invoice i {
  font-size: 25px;
  vertical-align: -1px;
}

.myaccount ul {
  padding-bottom: 10px;
}

.favoriteproducts img {
  width: 16px;
  height: 16px;
}

table#order-list td.history_link a {
  font-weight: bold;
  color: #a9a9a9;
}

table#order-list td.history_detail .btn {
  display: block;
}

table#order-list td.history_detail .btn + a {
  margin-top: 10px;
}

table#order-list td.history_detail a.details_link {
  text-transform: capitalize;
}

#block-history #block-order-detail table.std td.inputs input.order_qte_input {
  float: left;
  height: 15px;
  padding: 1px;
}

.align_center {
  text-align: center;
}

.top_indent {
  margin-top: 20px;
}

#block-history #block-order-detail table.std td.inputs label {
  display: block;
  float: left;
  padding: 2px 0 0 7px;
  font-weight: bold;
}

#block-history h3 {
  padding: 17px 0 0 0;
}

div#order-detail-content table.std th {
  padding: 15px 12px;
}

form#sendOrderMessage p.submit {
  padding: 0px 0 0 0;
}

.info-order strong {
  color: #333333;
}

.addresses #sendOrderMessage label {
  display: block;
  padding-bottom: 4px;
}

#conditionsValided + label {
  display: inline;
}

table.discount {
  margin: 17px 0 0 0;
}

table.discount td.discount_code {
  font-weight: bold;
}

table.discount td.discount_value {
  white-space: nowrap;
}

body#discount div.center_column sup {
  vertical-align: top;
}

.delivery_options {
  padding-top: 20px;
}

.delivery_options_address .delivery_option_radio {
  margin: 0px auto 0px auto;
}

.delivery_options_address table td:first-child {
  text-align: center;
  vertical-align: middle;
  padding-left: 12px;
}

.delivery_options_address table td.delivery_option_logo {
  vertical-align: middle;
  text-align: center;
}

.delivery_options_address .delivery_options label {
  display: block;
}

table.delivery_option_carrier {
  background: #D9EDF7;
  border: 1px solid #BCE8F1;
}

table.delivery_option_carrier td {
  border: 1px solid #BCE8F1;
  color: #3A87AD;
  text-transform: none;
  font-size: 12px;
}

.order_delivery .address.first_item, .addresses #address_delivery {
  padding: 20px;
  border: 1px solid #d0d0d0;
  background: #F8F8F8;
  margin-bottom: 20px;
  display: none;
}

.order_delivery .address.alternate_item, .addresses #address_invoice {
  padding: 20px;
  border: 1px solid #d0d0d0;
  background: #F8F8F8;
  margin-bottom: 20px;
  display: none;
}

#order-detail-content-table .td-3 {
  text-align: center;
}

.cart_total_price.cart_last_tr .price {
  font-size: 17px;
  color: #a9a9a9;
}

#order-detail-content-table tfoot tr.item td {
  border-left: none;
  border-right: none;
  border-bottom: none;
}

#order-detail-content-table tfoot tr.item:first-child td {
  border: none;
}

#order-detail-content-table td.order_cb, #order-detail-content-table td.checkbox_type {
  width: 50px;
  text-align: center;
}

.footable tfoot td {
  display: table-cell !important;
}

.sheets {
  margin-top: 20px;
}

/* ************************************************************************************************
MY ACCOUNT
************************************************************************************************ */
body#my-account ul.footer_links li {
  float: none;
}

body#my-account div#center_column ul.myaccount_lnk_list li a i {
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  width: 24px;
  vertical-align: -1px;
}

#account-creation_form #passwd {
  float: left;
  margin-right: 20px;
}

span.radio_title {
  display: block;
  margin-bottom: 7px;
  text-align: left;
}

#identity #center_column .std input[type='checkbox'] {
  margin-right: 7px;
}

#identity #center_column .std input[type='checkbox'] + label {
  display: inline;
}

#account-creation_form p.radio label {
  padding-right: 10px;
}

form#account-creation_form p.radio label, #identity p.radio label, #new_account_form p.radio label {
  display: inline-block;
  float: left;
  padding: 0px 25px 0 3px;
}

form#account-creation_form textarea {
  width: 210px;
  max-width: 563px;
}

#identity p.radio {
  padding: 0;
}

/* ************************************************************************************************
Product Comparison
************************************************************************************************ */
.comparison_product_infos {
  padding-top: 10px;
}

#product_comparison #availability_label {
  font-weight: bold;
  color: #333;
}

#product_comparison #availability_value {
  color: #0C6;
}

#product_comparison .comparison_availability_statut {
  display: none;
  padding: 0px;
  margin: 0;
}

#product_comparison.breakpoint .comparison_product_infos, #product_comparison.breakpoint .comparison_product_infos .product_link, #product_comparison.breakpoint .comparison_product_infos .row-compare-button {
  text-align: left;
}

#product_comparison .product_image_div {
  position: relative;
  margin-bottom: 13px;
  text-align: center;
}

#product_comparison .product_image_div a {
  display: block;
}

#product_comparison th:first-child, #product_comparison td:first-child {
  text-align: left;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
}

#product_comparison .product_image_div a.product_image {
  display: inline-block;
  position: relative;
}

#product_comparison .product_image_div a.product_image img {
  background: none;
}

.shop_table .title_compare {
  font-size: 13px;
  color: #333;
}

#product_comparison .comparison_header .price {
  font-size: 32px;
  font-weight: normal;
}

#product_comparison .on_sale, #product_comparison .discount {
  display: block;
  width: 54px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#product_comparison .product_link {
  display: inline-block;
  padding: 0 0 0px 0;
  text-align: center;
}

#product_comparison .comparison_product_infos a.cmp_remove {
  position: absolute;
  right: 0px;
  top: 0;
  z-index: 5;
  font-size: 25px;
  line-height: 25px;
}

#product_comparison .comparison_product_infos a.cmp_remove:hover {
  color: #a9a9a9;
}

#product_comparison .product_desc {
  margin: 0 0 9px 0;
  min-height: 38px;
}

#product_comparison .row-compare-button {
  text-align: left;
  padding-top: 10px;
}

#product_comparison .comparison_product_infos a.button {
  margin-right: 8px;
  margin-bottom: 10px;
}

#product_comparison .comparison_product_infos .exclusive {
  margin: 0px 0 10px 0;
}

#product_comparison td:first-child {
  background: #F5F5F5;
  color: #888;
}

.shop_table td.comparison_feature_even.comparison_infos, .shop_table td.comparison_feature_odd.comparison_infos {
  text-align: center;
}

/* ************************************************************************************************
Identity
************************************************************************************************ */
form.identity p.radio input {
  top: 3px;
}

form.identity p.radio label {
  display: inline-block;
  padding: 0 15px 0 3px;
  line-height: 19px;
}

form.identity p.required_desc {
  padding: 20px 0 0 157px;
}

/* ************************************************************************************************
Orderopc
************************************************************************************************ */
#opc_new_account form#login_form {
  margin-bottom: 0;
}

#orderopc #left_column {
  display: none;
}

#orderopc #center_column {
  width: 757px;
}

#orderopc #left_column h2 {
  margin-top: 20px;
}

#opc_account_choice {
  padding: 0 0px;
}

#login_form_content {
  padding: 20px 5%;
  background: #f5f5f5;
  border: 1px solid #d0d0d0;
}

#opc_account_form input.text, #new_account_form #opc_account_form textarea {
  width: 100%;
}

#opc_account_form input[type='checkbox'] + label {
  display: inline;
}

#opc_account_choice .opc_float {
  padding: 10px 5%;
  background: #f5f5f5;
  border: 1px solid #d0d0d0;
  margin-bottom: 15px;
}

#opc_account_choice .opc_float ul {
  margin: 0 0 20px 30px;
}

#new_account_form p.textarea textarea {
  height: 80px;
  width: 205px;
}

#new_account_form span.form_info, #new_account_form span.inline-infos {
  display: block;
  margin: 5px 0 0 0px;
  color: #666666;
}

#order #loyalty {
  margin: 10px 0 12px 0;
  font-size: 13px;
  padding: 20px 0 20px 0;
  border-top: 1px dotted #d0d0d0;
}

#order #loyalty img {
  margin-right: 10px;
}

.short_description_pack {
  padding: 10px 0px 0px 0;
}

.short_description_pack h3 {
  padding: 5px 0 0 0;
  margin: 0;
}

.short_description_pack p {
  padding: 5px 0 0 0;
}

.short_description_pack .pack_content {
  padding: 10px 0 0 0;
}

.pack_content {
  margin: 5px 0 5px 0;
}

#pb-left-column #color_picker p {
  padding-bottom: 5px;
  font-weight: bold;
}

span.our_price_display {
  display: inline-block;
  padding-top: 7px;
  font-size: 24px;
  line-height: 18px;
}

*:first-child + html .content_prices #add_to_cart .exclusive {
  padding: 4px 3px 4px 11px;
}

/* ************************************************************************************************
		FOOTER
************************************************************************************************ */
footer .modules {
  position: relative;
  padding-bottom: 21px;
}

footer .block h4 {
  font-size: 17px;
  line-height: 21px;
  color: #87c161;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  padding: 0 0 3px 0;
  margin: 59px 0 17px 0;
}

footer .block h4 i {
  display: none;
}

footer .block h4 a {
  color: #87c161;
  font-weight: bold;
}

footer .block a {
  color: #35312b;
  font-weight: 300;
}

footer .block a:hover {
  color: #87c161;
}

footer .block .list-footer li {
  padding: 0px 0 10px 0;
}

footer .block .list-footer li.referralprogram i, footer .block .list-footer li.loyalty i {
  display: none;
}

footer .block .list-footer li a {
  font-size: 13px;
  font-weight: 300;
  padding-right: 5px;
  word-wrap: break-word;
}

footer .block .list-footer li img {
  display: none;
}

footer .footer-text {
  padding: 0px 0 0 0;
}

.bottom_footer {
  color: #35312b;
  position: absolute;
  bottom: 28px;
  right: 223px;
  font-size: 11px;
  font-weight: 300;
  width: auto;
  padding-top: 7px;
}

.bottom_footer a {
  color: #35312b;
}

.bottom_footer a:hover {
  color: #87c161;
}

.blockcontactinfos li {
  font-weight: 300;
  margin-bottom: 10px;
}

.blockcontactinfos li a {
  font-weight: 300;
  color: #87c161;
  text-decoration: underline;
}

.blockcontactinfos li a:hover {
  color: #35312b;
}

#paiement_logo_block_left {
  float: left;
  margin: 15px 0 0 30px;
}

#currencies_block_top p.inner-carrencies em, #languages_block_top p em {
  display: none;
}

#currencies_block_top p.inner-carrencies b, #languages_block_top p b {
  font-weight: 300;
  color: #35312b;
  font-family: 'Roboto', sans-serif;
}

/* ************************************************************************************************
PAIMENT - PAGE ORDER
************************************************************************************************ */
#order .p-cart {
  font-size: 13px;
  text-transform: uppercase;
  color: #535353;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}

#order_steps {
  overflow: hidden;
  margin: 0px 0 20px 0px;
}
#order_steps li {
  float: left;
  width: 20%;
  text-align: center;
}
#order_steps li span {
  display: block;
  padding: 5px 0 5px 0px;
  color: #fff;
  font-weight: bold;
}
#order_steps li span span {
  color: #fff;
  font-weight: bold;
  font-size: 27px;
  line-height: 27px;
}
#order_steps li a {
  font-weight: bold;
  color: #ccc;
  text-decoration: none;
}
#order_steps li a:hover {
  color: #fff;
}
#order_steps li.even {
  background: url(../img/marker-order.png) 0px 29px no-repeat #9c9c9c;
}
#order_steps li.even:first-child {
  background: #9c9c9c;
}
#order_steps li.even.step_current:first-child {
  background: #87c161;
}
#order_steps li.odd {
  background: url(../img/marker-order.png) 0px 29px no-repeat #777777;
}
#order_steps li.step_current {
  background-color: #87c161;
}

/* step 1 - cart ******************************************************************************* */
#cart_summary {
  background: none;
  border: none;
  margin-bottom: 0;
}

table#cart_summary h5 {
  padding-bottom: 10px;
}

table#cart_summary .cart-atr {
  display: inline-block;
  padding-bottom: 5px;
}

#order-detail-content .title-th {
  display: inline-block;
  float: left;
  padding-right: 10px;
  font-weight: bold;
  color: #333333;
}

table#cart_summary tr {
  border-bottom: 1px dotted #d0d0d0;
}

table#cart_summary tr.cart_last_tr {
  border: none;
}

table#cart_summary .insset-bottom {
  padding-bottom: 16px;
  padding-top: 0px;
}

.cart_quantity_title {
  padding: 3px 10px 0 0;
}

table#cart_summary tbody tr {
  border-top: 1px dotted #d0d0d0;
}

table#cart_summary td {
  padding: 20px 0 20px 0;
  border: none;
  vertical-align: top;
}

table#cart_summary .customization {
  border-color: #d0d0d0;
}

table#cart_summary td.cart_product {
  width: 162px;
}

table#cart_summary tr ul {
  list-style: none;
}

table#cart_summary .customizationUploaded {
  margin-bottom: 10px;
}

table#cart_summary .cart_quantity .cart_quantity_down {
  float: left;
}

table#cart_summary .cart_discount_name {
  color: #333;
  text-transform: uppercase;
  vertical-align: middle;
}

table#cart_summary .cart_discount {
  border-width: 1px 0 1px 0;
  border-style: solid;
}

table#cart_summary .cart_discount_price .div_cart_quantity_delete {
  display: inline-block;
  float: none;
  margin-left: 7px;
}

table#cart_summary .cart_discount_price .div_cart_quantity_delete a i {
  font-size: 16px;
  line-height: 16px;
}

table#cart_summary .div_cart_quantity_delete {
  float: left;
}

table#cart_summary .div_cart_quantity_delete a i {
  font-size: 25px;
  line-height: 25px;
  width: auto;
}

table#cart_summary .customization .cart_quantity {
  padding: 20px 0px 20px 0;
  border: none;
  margin-bottom: 0;
}

table#cart_summary .cart_quantity .cart_quantity_input {
  display: inline-block;
  float: left;
  border: 1px solid #d0d0d0;
  border-left: none;
  border-right: none;
  height: 43px;
  text-align: center;
  width: 40px;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

table#cart_summary .cart_quantity .cart_quantity_button {
  float: left;
}

table#cart_summary a.price_discount_delete {
  margin-top: 3px;
}

table#cart_summary .cart_total_price .total_price_container {
  border-right: none;
}

table#cart_summary .cart_total_price td.cart_voucher {
  vertical-align: middle;
}

table#cart_summary #total_price_container {
  vertical-align: middle;
}

#cart_summary tfoot {
  font-weight: bold;
}

#cart_summary .cart_last_tr #total_price {
  font-size: 22px;
  font-weight: normal;
  color: #87c161;
}

table#cart_summary tfoot td {
  padding: 16px 0 14px 0;
  border: none;
  text-align: left;
}

table#cart_summary tfoot td + td {
  text-align: right;
  display: table-cell;
}

#total_price_container {
  vertical-align: middle;
}

#cart_summary .price {
  border: none;
  white-space: nowrap;
}

.total_price_container p {
  text-align: left;
}

table {
  background: #fff;
}

table#cart_summary .cart_total_price .total_price_container {
  padding: 0;
}

.cart_total_price .total_price_container p {
  display: block;
  padding: 8px;
}

.cart_total_price .total_price_container span {
  display: block;
  padding: 15px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

table#cart_summary .gift-icon {
  color: white;
  background: #0088CC;
  line-height: 20px;
  padding: 2px 5px;
  border-radius: 5px;
}

table#cart_summary .min-with-td {
  display: inline-block;
  font-weight: normal;
  min-width: 50px;
}

table#cart_summary #cart_quantity_button .cart_quantity_down {
  background: url(../img/quantity_down_mob.png) 0 0px no-repeat;
  height: 43px;
  width: 45px;
}
table#cart_summary #cart_quantity_button .cart_quantity_down:hover {
  opacity: 0.5;
}

table#cart_summary #cart_quantity_button .cart_quantity_up {
  float: left;
  background: url(../img/quantity_up_mob.png) 0 0px no-repeat;
  height: 43px;
  width: 45px;
}
table#cart_summary #cart_quantity_button .cart_quantity_up:hover {
  opacity: 0.5;
}

table#cart_summary #cart_quantity_button .cart_quantity_up img, table#cart_summary #cart_quantity_button .cart_quantity_down img {
  display: none;
}

.address-form-multishipping {
  padding: 15px 3%;
  background: #fdfdfd;
  border: 1px solid #d0d0d0;
  margin-bottom: 20px;
}

table#cart_summary #cart_quantity_button span {
  line-height: 43px;
}

.cart_quantity_title {
  padding: 11px 10px 0 0;
}

table#cart_summary .div_cart_quantity_delete a {
  margin-top: 7px;
  margin-left: 20px;
  display: inline-block;
}

table#cart_summary .cart_discount_price .div_cart_quantity_delete a {
  margin-top: 0px;
}

#HOOK_SHOPPING_CART .page_product_box h3 i {
  display: none;
}

/*cart_voucher******************************************************************************* */
form#voucher fieldset {
  border-top: 2px solid #3a3a3a;
}

form#voucher fieldset div#display_cart_vouchers h4 {
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
  border-top: 1px solid #eee;
}

form#voucher fieldset div#display_cart_vouchers div {
  padding: 4px 0 0 0;
}

form#voucher fieldset div#display_cart_vouchers span.voucher_name {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

form#voucher fieldset div#display_cart_vouchers span.voucher_name:hover {
  text-decoration: none;
}

#order_carrier {
  clear: both;
  margin-top: 20px;
  border: 1px solid #999;
}

#order_carrier h4 {
  padding: 0 15px;
}

#order_carrier span {
  display: block;
  padding: 15px;
  font-weight: bold;
}

.multishipping_close_container {
  text-align: center;
  padding-top: 10px;
}

/* ————— carriercompare.tpl ————— */
#compare_shipping ul#carriercompare_errors_list li {
  background: url("../img/warning.png") no-repeat 20px center #fde4e1;
  border: 1px solid #EBBCB5;
  color: #DF0505;
  font-size: 12px;
  font-weight: bold;
  padding-left: 70px;
  margin-left: 0!important;
  margin-bottom: 10px;
}

#compare_shipping_form {
  padding: 16px 0px 0px 0px;
  border-top: 2px solid #3a3a3a;
  margin-top: 20px;
  margin-bottom: 10px;
}

#compare_shipping_form #compare_shipping {
  padding: 0;
}

#compare_shipping_form #compare_shipping h3 {
  color: #333;
  font-weight: normal;
  font-size: 14px;
  padding: 10px 0px 0px 0px;
  margin: 0 0 15px 0;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
#compare_shipping_form #compare_shipping h3 span {
  position: relative;
  z-index: 1;
}

#compare_shipping_form #compare_shipping .SE_SubmitRefreshCard {
  padding-top: 20px;
}

#compare_shipping_form #compare_shipping .SE_SubmitRefreshCard input {
  width: auto;
  margin-bottom: 0;
  margin-right: 16px;
}

/* nav bottom ********************************************************************************** */
.cart_navigation {
  margin: 20px 0;
}

.cart_navigation .exclusive, .cart_navigation .exclusive_large {
  float: right;
}

/* order carrier */
div#order_carrier {
  margin: 20px 0 0 0;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
}

div#order_carrier h4 {
  float: left;
  padding: 0 10px;
}

/* cart navigation */
#order p.cart_navigation.inner-top {
  border-top: 1px dotted #d0d0d0;
}

p.cart_navigation {
  clear: both;
  margin: 0;
  padding: 25px 0 0px 0;
}

p.cart_navigation.inner-top {
  margin-bottom: 20px;
}

p.cart_navigation .button, p.cart_navigation .button_large {
  float: left;
}

#compare_shipping_form #availableCarriers {
  padding: 15px 0 0 0;
  margin: 0!important;
}

#compare_shipping_form #noCarrier {
  margin: 12px 0 0;
  padding: 10px 13px;
  text-align: center;
}

#availableCarriers_table {
  width: 100%;
  text-align: center;
  border: 1px solid #d0d0d0;
}

#availableCarriers_table th {
  text-align: center;
  border: 1px solid #d0d0d0;
  padding: 5px;
}

#carriercompare_errors_list li {
  margin: 0;
  padding: 10px 0 10px 0;
}

#availableCarriers_table td.radio {
  padding-top: 20px;
  padding-bottom: 0;
  text-align: center;
  border: none;
}

#availableCarriers_table td {
  margin: 0;
  padding: 10px 5px;
  vertical-align: middle;
  border: 1px solid #d0d0d0;
}

#availableCarriers_table td input {
  float: none;
  margin-top: 0px;
}

/**********************************************************************************************
LOGIN PAGE									
***********************************************************************************************/
#create-account_form .text input, #create-account_form .password input, #login_form .text input, #login_form .password input {
  width: 100%;
  margin-bottom: 0px;
}

#authentication #create-account_form .title_block {
  text-transform: none;
  font-size: 13px;
  font-weight: bold;
  color: #7a7a7a;
}

#authentication #create-account_form p.text, #authentication #login_form p.text {
  padding: 14px 0 0 0;
}

.cart_total {
  text-align: right;
}

/* step 3 - address ************************************************************************** */
div.order_address p.select label {
  float: left;
  text-align: right;
  padding: 2px 7px 0 0;
}

div.order_address p#address_invoice_form a.button_large {
  margin: 0 auto;
}

div.order_address p.address_add {
  padding: 20px 0 0 0;
  margin: 0;
}

div.order_address #ordermsg p {
  margin: 0;
}

div.order_address #ordermsg textarea {
  height: 100px;
}

#multishipping_mode_checkbox {
  vertical-align: top;
  margin-right: 5px;
}

#multishipping_mode_box .description {
  padding: 10px 0;
}
#multishipping_mode_box .description a {
  display: block;
  text-align: center;
}

#multishipping_mode_box .description_off {
  display: none;
  padding: 5px;
}

#multishipping_mode_box .description_off div {
  margin-bottom: 10px;
}

#multishipping_mode_box.on .description_off {
  display: block;
}

table.multishipping-cart td {
  padding: 12px!important;
}

table.multishipping-cart th {
  border-width: 0 0 1px 0;
}

.multishipping-cart .cart_quantity .cart_quantity_input {
  float: left;
  margin: 0;
  height: 22px;
  line-height: 22px;
  border-left: 0;
  border-right: 0;
  text-align: center;
}

.multishipping-cart .cart_quantity a {
  float: left;
}

.multishipping-cart .cart_quantity {
  width: 140px;
}

#order-detail-content #cart_summary.multishipping-cart {
  border: 1px solid #d0d0d0;
  margin-bottom: 20px;
}

#order-detail-content #cart_summary.multishipping-cart td.cart_product {
  width: auto;
}

#order-detail-content #cart_summary.multishipping-cart td.cart_quantity {
  width: 155px;
}

#order-detail-content {
  padding-top: 0;
}

#order-detail-content #cart_summary.multishipping-cart td {
  border: 1px solid #d0d0d0;
}

/* step 4 - paiement ************************************************************************** */
table#carrierTable {
  margin: 17px 0 0 0;
}

table#carrierTable tr td.radio input {
  background: none;
  border: none;
  position: relative;
  top: 1px;
  left: 0;
}

/* step 5 - paiement ************************************************************************** */
.payment_module img {
  float: left;
  vertical-align: middle;
  margin: 0 10px 0 0;
}

.payment_module a {
  display: block;
  background: #fdfdfd;
  border: 1px solid #d0d0d0;
  padding: 15px;
  color: #333;
  text-decoration: none;
  text-align: left;
  overflow: hidden;
  font-weight: bold;
}

.payment_module a:hover, .payment_module a:focus, .payment_module a:active {
  background: #fdfdfd;
  border: 1px solid #000;
  color: #000;
}

/* ************************************************************************************************
PAGE ORDER-OPC
************************************************************************************************ */
div#order-opc h2.bordercolor {
  margin: 20px 0 0 0;
  padding: 17px 0 0 0;
  border-width: 1px 0 0 0;
  border-style: solid;
}

div#order-opc table#carrierTable {
  margin: 17px 0 0 0;
}

div#order-opc textarea#message {
  height: 100px;
}

/* ************************************************************************************************
express checkout
************************************************************************************************ */
#new_account_form {
  clear: both;
  margin-bottom: 20px;
}

#new_account_form h3 {
  margin-bottom: 20px;
}

#new_account_form #submitGuestAccount {
  float: right;
}

/* ************************************************************************************************
paiment - CONFIRMATION
************************************************************************************************ */
#orderconfirmation #left_column {
  display: none;
}

#orderconfirmation #center_column {
  width: 757px;
}

.orderconfirmation {
  border: 1px solid #d0d0d0;
  padding: 20px;
  margin: 30px 0 0 0;
  background: #f8f8f8;
}

.orderconfirmation a {
  color: #0C0;
}

.orderconfirmation a:hover {
  color: #333;
}

/* ************************************************************************************************
PAGE ADRESSES
************************************************************************************************ */
.bloc_adresses .address {
  background: #f8f8f8;
  border: 1px solid #d0d0d0;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

ul.address li {
  line-height: 25px;
  color: #333;
}

ul.address li.address_delete, ul.address li.address_update {
  float: left;
}

ul.address li .btn {
  color: #fff;
  margin-top: 10px;
}

ul.address li.address_title {
  margin: 0px 0px 8px 0px;
  color: #a9a9a9;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}

ul.address li.address_title h3 {
  margin: 0;
}

ul.address li.address_update {
  margin-right: 10px;
}

/* ************************************************************************************************
PAGE DISCOUNT
************************************************************************************************ */
table.discount {
  margin: 17px 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
}

table.discount td.discount_code {
  font-weight: bold;
}

table.discount td.discount_value {
  white-space: nowrap;
}

body#discount div.center_column sup {
  vertical-align: top;
}

/* ************************************************************************************************
PAGE MANUFACTURER
************************************************************************************************ */
.description_box.cat_desc {
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 20px;
}
.description_box.cat_desc > div {
  padding-bottom: 20px;
}

.title_manuf {
  display: block;
  padding: 0 0 20px 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  text-align: right;
}

.mnf_sup_list li {
  padding: 0px 0px 20px 0px;
  margin-bottom: 20px;
}

.mnf_sup_list li.last_item {
  border-bottom: none;
}

.mnf_sup_list li .logo {
  padding-left: 0;
}

.mnf_sup_list li .right_side {
  padding-right: 0;
}

.mnf_sup_list li .left_side h3 {
  display: inline-block;
  padding: 0px 0 0 0;
  color: #7a7a7a;
  text-transform: uppercase;
  font-size: 13px;
  margin: -4px 0 5px 0;
}

.border_sep {
  border-right: 1px solid #d0d0d0;
}

/* ************************************************************************************************
PAGE SEARCH
************************************************************************************************ */
#search h3.nbresult {
  margin: 10px 0 10px 0;
  padding: 10px;
  border: 1px solid #e6db55;
  font-size: 13px;
  background: lightyellow;
}

/* ************************************************************************************************
PAGE 404
************************************************************************************************ */
p.error404 {
  border: 2px solid #dd0000;
  background: #f5f5f5;
  margin: 20px 0 0 0;
  padding: 10px;
  line-height: 32px;
}

p.error404 img {
  margin: 0 10px 0 0;
}

/* ************************************************************************************************
addons payment cheque
************************************************************************************************ */
#module-cheque-payment #columns form img {
  float: left;
  margin: 0 20px 2px 0;
}

#module-cheque-payment form select, #module-bankwire-payment form select {
  margin: 20px 0 20px 0;
}

.box-payment-style {
  padding: 20px;
  border: 1px solid #d0d0d0;
  background: #fdfdfd;
}

.box-payment-style ul li {
  margin-bottom: 5px;
}

.box-payment-style ul {
  padding-top: 7px;
}

#module-cheque-payment .cart_navigation input, #module-cheque-payment .cart_navigation a, #module-bankwire-payment .cart_navigation input, #module-bankwire-payment .cart_navigation a {
  margin-bottom: 15px;
}

/* ************************************************************************************************
addon RerversoForm
************************************************************************************************ */
#account-creation_form fieldset.reversoform {
  padding: 10px !important;
}

#account-creation_form fieldset.reversoform .text label {
  display: block;
  padding: 0 0 10px 0;
  width: 100%;
  text-align: left;
}

#account-creation_form fieldset.reversoform .infos-sup {
  padding: 0 !important;
  font-size: 10px;
  font-style: italic;
  text-align: right;
}

/* ************************************************************************************************
addon referralprogram
************************************************************************************************ */
#footer .myaccount li.referralprogram img {
  display: none;
}

/* ************************************************************************************************
addon Livezilla
************************************************************************************************ */
#livezilla_lnk {
  margin: 10px 0;
  text-align: right;
}

#livezilla_lnk a {
  display: inline-block;
  padding: 6px 8px 8px 8px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: bold 10px Arial, Verdana, sans-serif;
  color: #fff;
  text-shadow: 0 -1px 0 black;
  background: url(../img/bg_bt_compare.gif) repeat-x scroll 0 0 black;
}

#livezilla_lnk a:hover {
  text-decoration: none;
}

/* ************************************************************************************************
guest tracking And TIME CSS
************************************************************************************************ */
#opc_account.opc-main-block #address_invoice_form select {
  width: 100%;
}

#address_invoice_form label {
  display: block;
  padding-bottom: 4px;
}

#order #fancybox-content h2 {
  font-size: 14px;
  text-transform: uppercase;
  color: #3a3a3a;
}

.popup-extra h3 {
  color: #ed038a;
  font-size: 14px;
  padding-bottom: 7px;
}

#favoriteproducts_block_account .favoriteproduct {
  position: relative;
  margin-bottom: 14px;
  margin-top: 15px;
  border: 1px solid #d0d0d0;
  padding: 20px;
}

.favoriteproduct a.product_img_link {
  display: block;
  float: left;
  margin-right: 14px;
  overflow: hidden;
  position: relative;
}

.favoriteproduct h3 {
  color: #000000;
  font-size: 13px;
  padding: 0 0 10px;
}

.favoriteproduct p.product_desc {
  line-height: 16px;
  overflow: hidden;
  padding: 0;
}

.favoriteproduct .remove {
  position: absolute;
  top: 15px;
  right: 20px;
}

.favoriteproduct .remove .icon {
  cursor: pointer;
}

/* ************************************************************************************************
		module productcomments
************************************************************************************************ */
.rating {
  display: block;
  clear: both;
  margin: 2em;
  cursor: pointer;
}

.rating:after {
  display: block;
  content: '.';
  height: 0;
  width: 0;
  clear: both;
  visibility: hidden;
}

.cancel, .star {
  float: left;
  overflow: hidden;
  margin: 0 1px 0 0;
  width: 16px;
  height: 16px;
  text-indent: -999em;
  cursor: pointer;
}

.cancel, .cancel a {
  background: url(../../../modules/productcomments/img/delete.gif) no-repeat 0 -16px !important;
}

.cancel a, .star a {
  display: block;
  width: 100%;
  height: 100%;
  background-position: 0 0;
}

div.star_on a {
  background-position: 0 -16px;
}

div.star_hover a, div.star a:hover {
  background-position: 0 -32px;
}

.star {
  float: left;
  position: relative;
  top: 2px;
  height: 12px;
  width: 12px;
  overflow: hidden;
  text-indent: -999em;
  cursor: pointer;
}

.star, .star a {
  background: url(../img/star.png) no-repeat 0 0;
}

div.star_on a {
  background-position: 0 -12px;
}

div.star_hover a, div.star a:hover {
  background-position: 0 -12px;
}

.confirmation {
  margin: 0 0 10px;
  padding: 10px;
  border: 1px solid #e6db55;
  font-size: 13px;
  background: #ffffe0;
}

#main .rte {
  background: 0 0;
}

.listcomment {
  list-style-type: none;
  margin: 0 0 20px 0 !important;
}

.listcomment li {
  padding: 10px 0;
  border-bottom: 1px dotted #d0d0d0;
  color: #666666;
}

.listcomment .titlecomment {
  display: block;
  font-weight: bold;
  font-size: 12px;
  color: #333333;
}

.listcomment .txtcomment {
  display: block;
  padding: 5px 0;
  color: #333333;
}

form#sendComment fieldset {
  padding: 10px;
  border: 1px solid #d0d0d0;
  background: #eeeeee;
}

form#sendComment h3 {
  font-size: 14px;
}

#new_comment_form p.text {
  margin-bottom: 0;
  padding-bottom: 0;
}

#new_comment_form .btn {
  margin-bottom: 10px;
  margin-left: 5px;
}

#sendComment p.text label, #sendComment p.textarea label {
  display: block;
  margin: 12px 0 4px;
  font-weight: bold;
  font-size: 12px;
}

.relative {
  position: relative;
}

#sendComment p.text input {
  padding: 0 5px;
  height: 28px;
  width: 498px;
  border: 1px solid #d0d0d0;
  background: url(../img/bg_input.png) repeat-x 0 0 white;
}

#sendComment p.textarea textarea {
  height: 80px;
  width: 508px;
  border: 1px solid #d0d0d0;
}

#sendComment p.submit {
  padding: 0;
  text-align: right;
}

#sendComment p.closeform {
  float: right;
  padding: 0;
  height: 16px;
  width: 12px;
  text-indent: -5000px;
  background: url(../img/icon/delete.gif) no-repeat 0 0;
}

#new_comment_form .media .product_desc {
  text-align: left;
  max-width: 300px;
}

#new_comment_form .product .product_desc .product_name {
  padding-bottom: 5px;
  font-size: 13px;
  color: black;
}

#new_comment_form .grade_content {
  margin: 0 0 20px 0;
}

#new_comment_form .grade_content span, #new_comment_form .grade_content span {
  display: inline-block;
  padding: 0 10px;
  width: 150px;
  font-weight: bold;
}

#new_comment_form .grade_content .cancel {
  margin-right: 5px;
}

.new_comment_form_content .intro_form {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 12px;
}

#new_comment_form .submit {
  margin-top: 20px;
  padding: 0;
  font-size: 13px;
  text-align: right;
}

#new_comment_form #criterions_list {
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 15px;
  list-style-type: none;
}

#new_comment_form #new_comment_form_footer {
  margin-top: 0px;
  font-size: 12px;
}

#new_comment_form {
  overflow: hidden;
}

#new_comment_form form {
  text-align: left;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/* ************************************************************************************************
		TIME OTHER GLOBAL CSS
************************************************************************************************ */
.shop_box {
  border-bottom: 1px solid #d0d0d0;
}

.titled_box h2, .account_creation h3 {
  color: #333;
  font-weight: normal;
  font-size: 14px;
  padding: 10px 0px 0px 0px;
  margin: 0 0 15px 0;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
.titled_box h2 span, .account_creation h3 span {
  position: relative;
  z-index: 1;
}

.icon-style {
  width: 16px;
  height: 16px;
  background: url(../img/icon-style.png) center center no-repeat;
}

.shop_box_row {
  border-bottom: 1px solid #d0d0d0;
}

.title_shop {
  color: #000;
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
}

.lnk_more {
  display: inline-block;
  font-size: 13px;
  color: #a9a9a9;
  line-height: 16px;
  font-style: italic;
  font-weight: bold;
}

.lnk_more:hover {
  color: #a9a9a9;
}

.store_list li {
  padding: 0px 0 0px 0px;
  margin: 0;
}
.store_list li:first-child a {
  border: none;
}
.store_list li.favoriteproducts a i, .store_list li.referralprogram a i, .store_list li.loyalty a i, .store_list li.lnk_wishlist a i {
  display: none;
}
.store_list li a {
  display: block;
  padding: 7px 0 7px 0px;
  border-top: 1px solid #d0d0d0;
}
.store_list li a i {
  margin-right: 10px;
}

.content_list li {
  padding: 0 0 10px 0;
  margin: 0 0 0 0;
}
.content_list li a i {
  padding-right: 7px;
}

.shop_table {
  vertical-align: middle;
}

#order-detail-content-table input.order_qte_input + label {
  float: none;
}

#order-detail-content-table td.expand label {
  cursor: pointer;
  margin: 0;
}

.shop_table th {
  border: 1px solid #d0d0d0;
}

.shop_table th {
  font-weight: bold;
  padding: 15px 20px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.shop_table td {
  padding: 10px 20px;
}

.shop_table td .footable-row-detail-inner strong {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  margin: 0 10px 10px 0;
  color: #333;
}

.footable.breakpoint > tbody > tr > td.expand {
  background-image: url(../img/u.png);
  background-position: 7px center;
  background-repeat: no-repeat;
  padding-left: 40px;
  vertical-align: middle;
}

.footable.breakpoint > tbody > tr.footable-detail-show > td.expand {
  background-image: url(../img/uu.png);
  padding-left: 40px;
}

.footable.breakpoint > tbody > tr > td.expand, .footable.breakpoint > tbody > tr.footable-detail-show > td.expand {
  cursor: pointer;
}

.footable > tbody img {
  vertical-align: middle;
}

/* Global Declaration */
div.checker span, div.radio span {
  background: url(../img/sprite.png);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}

.radio {
  padding-left: 0;
}

p.radio {
  margin-top: 0;
  margin-bottom: 0;
}

.checker, .uploader, .checker * {
  margin: 0;
  padding: 0;
}

/* Checkbox */
div.checker {
  float: left;
  width: 19px;
  height: 19px;
}

div.checker input {
  width: 19px;
  height: 19px;
}

div.checker span {
  background-position: 0px -260px;
  height: 19px;
  width: 19px;
}

div.checker:active span, div.checker.active span {
  background-position: -19px -260px;
}

div.checker.focus span, div.checker:hover span {
  background-position: -38px -260px;
}

div.checker.focus:active span, div.checker:active:hover span, div.checker.active:hover span, div.checker.focus.active span {
  background-position: -57px -260px;
}

div.checker span.checked {
  background-position: -76px -260px;
}

div.checker:active span.checked, div.checker.active span.checked {
  background-position: -95px -260px;
}

div.checker.focus span.checked, div.checker:hover span.checked {
  background-position: -114px -260px;
}

div.checker.focus:active span.checked, div.checker:hover:active span.checked, div.checker.active:hover span.checked, div.checker.active.focus span.checked {
  background-position: -133px -260px;
}

div.checker.disabled span, div.checker.disabled:active span, div.checker.disabled.active span {
  background-position: -152px -260px;
}

div.checker.disabled span.checked, div.checker.disabled:active span.checked, div.checker.disabled.active span.checked {
  background-position: -171px -260px;
}

/* Checker */
div.checker {
  margin-right: 5px;
}

/* Select */
div.selector {
  float: left;
  line-height: 30px;
  height: 30px;
  padding: 0 0 0 0px;
  position: relative;
  overflow: hidden;
  border: 1px solid #d0d0d0;
  background: url(../img/select.png) no-repeat 95% 12px;
  width: 170px !important;
}

div.selector span {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
  padding-right: 0px;
  padding-left: 10px;
  cursor: pointer;
  width: 85% !important;
  font-size: 12px;
}

.nbr_page div.selector {
  background-position: 89% 12px;
  width: 65px !important;
}

div.selector.fixedWidth {
  width: 190px;
}

div.selector.fixedWidth span {
  width: 155px;
}

div.selector select {
  opacity: 0;
  -moz-opacity: 0;
  border: none;
  background: none;
  position: absolute;
  height: 31px;
  top: 0px;
  padding: 0 20px 0 0;
  left: 0px;
  width: 100%;
}

/*

CORE FUNCTIONALITY 

Not advised to edit stuff below this line
-----------------------------------------------------
*/
.checker {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  zoom: 1;
}

.checker input:focus {
  outline: 0;
}

/* Checker */
div.checker {
  position: relative;
}

div.checker span {
  display: -moz-inline-box;
  display: inline-block;
  text-align: center;
}

div.checker input {
  display: inline-block;
  opacity: 0;
  margin: 0!important;
  background: none;
}

#product div.jGrowl div.jGrowl-notification, #product div.jGrowl div.jGrowl-closer {
  display: none;
  background: url(../img/icon/warning.png) no-repeat 10px 15px #d4eeff;
  opacity: .85;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  padding: 10px 10px 6px 45px;
  border: 1px solid #34ACF9;
  color: #0473B9;
  font: 13px "Arial";
  border-radius: 5px;
}

#product div.jGrowl div.jGrowl-notification div.close {
  font-size: 18px;
  color: #34ACF9;
  margin-top: 7px;
  opacity: .99;
}

.modal-body {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 200px;
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: "";
  }

  abbr[title]:after {
    content: "";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  a:link:after, a:visited:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }

  .hide-on-print {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }

  .hide-for-print {
    display: none !important;
  }

  .show-for-print {
    display: inherit !important;
  }
}
/* ************************************************************************************************
										CROSSELING AND CATEGORY PRODUCTS
************************************************************************************************ */
.crossselling.page_product_box h3, .tab-video.page_product_box h3 {
  margin-top: 10px;
}

#carouselproduct {
  width: 100000px;
}

#carouselproductcross {
  width: 100000px;
}

.page_product_box .carusel-inner {
  display: block;
  padding: 0px 0 0px 0;
  position: relative;
  margin: 0px 0 0px -20px;
}

.page_product_box .carusel-inner .caroufredsel_wrapper {
  cursor: default!important;
}

.page_product_box {
  margin: 0;
}

.page_product_box.blockproductscategory {
  overflow: hidden;
}

.page_product_box .carousel-ul {
  display: block;
  padding: 0;
  margin: 0;
  width: 10000px;
}

.page_product_box {
  position: relative;
}

.page_product_box .carusel-inner li a {
  display: inline;
}

.page_product_box .carusel-inner li {
  display: block;
  float: left;
  margin-left: 20px;
  height: 200px;
  width: 146px;
  text-align: center;
}

.page_product_box .carusel-inner li .price_display {
  margin: 0;
}

.page_product_box .carusel-inner .product_link {
  display: inline-block;
  margin: 5px 0px 0px 0px;
}

.page_product_box a.prev, .page_product_box a.next {
  display: none;
  background: url(../img/slider-arrow.png) no-repeat transparent;
  width: 27px;
  height: 27px;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  opacity: 1;
  -moz-transition: opacity 300ms ease, left 300ms ease, right 300ms ease;
  -webkit-transition: opacity 300ms ease, left 300ms ease, right 300ms ease;
  -o-transition: opacity 300ms ease, left 300ms ease, right 300ms ease;
  transition: opacity 300ms ease, left 300ms ease, right 300ms ease;
}

.page_product_box .carusel-inner:hover, .page_product_box .carusel-inner img:hover {
  cursor: move;
  cursor: pointer;
}

.page_product_box .carusel-inner:hover a.prev {
  opacity: 1;
  left: 40px;
}

.page_product_box .carusel-inner:hover a.next {
  opacity: 1;
  right: 22px;
}

.page_product_box a.prev {
  left: 40px;
  background-position: 0 0;
}

.page_product_box a.prev:hover {
  background-position: 0 -27px;
}

.page_product_box a.next {
  right: 22px;
  background-position: -27px 0;
}

.page_product_box a.next:hover {
  background-position: -27px -27px;
}

.page_product_box a.next.disabled, .page_product_box a.prev.disabled {
  opacity: 0.2;
}

.page_product_box a.prev.disabled, .page_product_box a.next.disabled {
  cursor: default;
}

#HOOK_SHOPPING_CART .page_product_box > h3 {
  display: block;
  background: #4a4641;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
  margin: 0px 0 20px;
  padding: 9px 50px 9px 20px;
  position: relative;
}
#HOOK_SHOPPING_CART .page_product_box > h3.activeTab {
  background: #87c161;
}
#HOOK_SHOPPING_CART .page_product_box.accordion h3 {
  cursor: pointer;
}
#HOOK_SHOPPING_CART .page_product_box.accordion h3 .icon-toggle {
  display: block;
  font-size: 27px;
  line-height: 27px;
  position: absolute;
  right: 12px;
  top: 10px;
}

#HOOK_SHOPPING_CART .page_product_box.accordion h3 i {
  display: inline-block;
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
  .page_product_box .carusel-inner a.prev {
    opacity: 1;
    left: 40px;
  }

  .page_product_box .carusel-inner a.next {
    opacity: 1;
    right: 22px;
  }
}
.unvisible.double, .unvisible {
  display: none;
}
