@import 'compass';
//screen sizes

	$x-small:"only screen  and (max-width: 480px)";
	$y-small:"only screen  and (max-width: 550px)";
	$small:"only screen  and (max-width: 767px)";
	$small-medium: "only screen and (min-width: 480px) and (max-width: 767px)";
	$smallxxx-medium: "only screen and (min-width: 600px) and (max-width: 767px)";
	$medium: "only screen and (min-width: 768px) and (max-width: 991px)";
	$medium-large: "only screen and (min-width: 992px) and (max-width: 1199px)";
	$large: "only screen and (min-width: 1200px)";
	$small-large: "only screen and (min-width: 767px)";
	$large-only: "only screen and (min-width: 992px)";
	
	
//main font define

	$font:normal normal 13px/18px 'Roboto', sans-serif;;	
	$links_color:#4a4641;
	$links_color_hover:#87c161;
	
//main border define

	$main_border:1px solid #d0d0d0;
	$main_border_color:#d0d0d0;
	$main_border_type:solid;
	$main_border_width:1px;
	
//other borders defines

	$first_border:1px dotted #d0d0d0;
	$first_border_type:dotted;
	$first_border_color:#d0d0d0;
	$first_border_width:1px;
	
//main boxes and tables bg

	$box_bg:#FDFDFD;
	
//indent resret

	@mixin reset {
		padding:0;
		margin:0;
	}
	
//main inputs define

	@mixin form-default {
		display: block;
		background-color: white;
		font: $font;
		border: $main_border;
		color:#000;
		margin: 0 0 12px 0;
		padding: 6px;
		height: 32px;
		width: 100%;
		outline: none;
		@include border-radius(0);
		@include box-shadow(none);
		@include transition-property(all);
		@include transition-duration(0.15s);
		-webkit-appearance: none;
	}
	
//main button define

	@mixin button {
		display:inline-block;
		padding:12px 20px 14px 20px;
		font: bold 17px/21px 'Roboto', sans-serif;
		color:#fff;
		border:none;
		margin-bottom:0;
		vertical-align:middle;
		cursor:pointer;
		filter:none;
		@include border-radius(0px);
		white-space:normal;
		text-align:left;
		&:focus {
			outline:none;
			text-shadow: 1px 1px 1px #393632;
			
		}
	}
	
//main heading (h1,h4) define

	@mixin heading {
		color: #35312b;
		font-size: 28px;
		line-height: 29px;
		font-weight: normal;
		padding: 10px 12px 12px 0px;
		margin: 0 0 15px 0;
		overflow:hidden;
		font-family: 'Roboto', sans-serif;
			a { color:#35312b;}
			
			
	}
	
//sub heading (h2,h3) define

	@mixin sub-heading {
		color: #333;
		font-weight: normal;
		font-size: 14px;
		padding: 10px 0px 0px 0px;
		margin: 0 0 15px 0;
		position: relative;
		font-family: 'Open Sans', sans-serif;
			
			span {
				position: relative;
				z-index: 1;	
			}
	}
	
//product page heading (h2,h3) define

	@mixin product-heading {
		> h3 {
			display: block;
			background: #4a4641;
			color: #FFFFFF;
			font-size: 20px;
			font-weight: normal;
			line-height: 1.5;
			margin: 0px 0 20px;
			padding: 9px 50px 9px 20px;
			position: relative;
			
				&.activeTab {
					background:#87c161;	
				}
		}
		
		&.accordion h3 {
			cursor:pointer;
			
				.icon-toggle {
					display: block;
					font-size: 27px;
					line-height: 27px;
					position: absolute;
					right: 12px;
					top: 10px;
				}
		}
	}
	
//product blocks 

	@mixin product-block {
		margin-bottom:30px;
		position:relative;
	}