@import '_variables.scss';
/* Note: Design for a width of < 767px
================================================== */

@media #{$small} {
	html {
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
	}
	/* ************************************************************************************************
													HEADER (< 767px)
	************************************************************************************************ */	
	#header {
		
		#header_right {
			padding-top: 286px;
		}
	}
	.page_wrapper_3{
	padding-top:20px;
}
	.bottom_footer {
		width: auto;
		border:none;
	}
	

	.main_page_products .price-old{ display:block;}
	.main_page_products li div.product_image{ margin-bottom:10px; margin-right:10px;}
	.main_page_products li h5{ padding-top:0;}

	#languages_block_top .selected_language strong,
	#currencies_block_top p.inner-carrencies strong{ display:none;}
	#currencies_block_top p.inner-carrencies b, #languages_block_top p b{ display:none;}
	#currencies_block_top p.inner-carrencies em, #languages_block_top p em{ display: inline-block; font-style:normal; text-transform:uppercase; padding-top:2px;}
	.arrow_header_top{ vertical-align:-1px;}
	
	.blockuserinfo a span{ display:block;}
	.blockuserinfo a span{ padding-top:9px; padding-bottom:9px; padding-left:0; padding-right:0;}
	.blockuserinfo a span b{ display:none;}
	.blockuserinfo a span i{ font-size:25px; line-height:25px;}


footer .modules .block ul{ margin-bottom:15px;}
#minic_slider{ width:100%; margin-right:0;}
.bottom_footer{ bottom:0; right:0;}
#your_account {right: 0;top: 56px;}
.blockuserinfo a span i{ display:block;}
#menu-wrap{ margin-bottom:30px;}
.page_wrapper_1{ }
#header_user{ top:147px;}
#header #cart_block{ top:209px;}
.nivo-caption{ display:none!important;}

.theme-default .nivo-controlNav{ left:43%;}


.sale-box,
.new-box{ display:none;}
#header #header_logo{ top:64px;}
#header #header_logo{ width:280px; height:32px; }
#header_user{ width:100%;}
#header_user #shopping_cart a{ max-width:100%; width:100%;}
.lang_ru .blockpermanentlinks-header, .lang_es .blockpermanentlinks-header,.lang_fr .blockpermanentlinks-header{ left:inherit; right:75%;}
.lang_ru .blockuserinfo{ right:0;}
#subcategories ul li a.lnk_more_sub{ min-height:40px;}
#page_wrapper_4{ background:#261F18;}
#htmlcontent_top li{ width:100%; float:none;margin-bottom:20px;}
#htmlcontent_top li img{ display:none;}
#htmlcontent_top li a.item-link{ height:280px; background:#261F18;}
#htmlcontent_top div.item-html h2{ font-size:19px; line-height:27px;}
#minic_slider{ margin-bottom:20px;}
#menu-trigger{ background:#35312b;}
#menu-trigger .menu-icon{ top:19px;}
#header_user #shopping_cart a{ border-top:0;}
#header_user{ top:148px;}
#header_user #shopping_cart .opancart{ left:inherit; right:20px; bottom:20px;}
#header_user #shopping_cart a{ padding-top:13px; padding-bottom:11px; background:none;}
#header_user.close-cart #shopping_cart a,
#header_user #shopping_cart a:hover,
#header_user.close-cart .shopping_cart_title,
#header_user #shopping_cart a:hover .shopping_cart_title {
	background: none;
	color:#87c161;
}
#menu-wrap{ margin-bottom:20px;}
#htmlcontent_top div.item-html p{ margin-bottom:20px;}
#htmlcontent_top div.item-html{ left:20px; top:20px;}
footer .block h4{ font-size:14px;}
body#index .page_wrapper_2{ padding-top:0;}
.page_wrapper_2{ padding-top:0;}

.grid li a.btn_add_cart.btn span:before{
	margin-left:0;
	border:none;
	 content: "";
	 padding:0;
	 border:none;
}
	/* ************************************************************************************************
											LANGUAGES CURRENCIES (< 767px)
	************************************************************************************************ */
	#languages_block_top.mobile-open, #currencies_block_top.mobile-open {
		background: #333;
	}
	
	#languages_block_top, #currencies_block_top {
		top: 0px;
		text-align: center;
		width: 25%;
		height: 45px;
		
			p {
				padding: 10px 0 10px 0;
				background:#87c161;
				border-right:1px solid #ffffff;
	
				
					.arrow_header_top {
						margin: 0px 0px 4px 5px;
					}	
			}	
	}
	#currencies_block_top  p.inner-carrencies{padding: 10px 0 10px 0;}
	#countries_2 .countries_ul, #setCurrency .currencies_ul {
		left: -1px;
		top: 46px;
		width: 140px;
		text-align: left;
	}
	/* languages */
	#languages_block_top {
		right: 50%;
	}
	/* currencies */
	#currencies_block_top {
		right: 25%;
	}
	.main-mobile-menu {
		display: block;
		margin: 0px 0px 0px 0px
	}
	/* ************************************************************************************************
											   MOBILE MENU TOP (< 767px)
	************************************************************************************************ */
	.blockpermanentlinks-header {
		position: absolute;
		right: 75%;
		top: 0px;
		width: 25%;
		left:inherit;
	}
	.mobile-link-top {
		display: block;
	
	}
	.mobile-link-top h4 {
		margin: 0;
		padding: 14px 0 7px 0;
		height:45px;
		background:#87c161;
		border-right:1px solid #fff;
	}
	.mobile-link-top h4 .arrow_header_top_menu.arrow_header_top {
		display: block;
		position: static;
		margin: 0px auto 0 auto;
		font-size: 25px;
		text-align: center;
	}
	body#index a.header_links_home, #sitemap a.header_links_sitemap, #contact a.header_links_contact, #cms a.header_links_delivery, #stores a.header_links_store {
		color: #979797;
	}
	#mobilelink {
		display: none;
		list-style: none;
		width: 140px;
		position: absolute;
		top: 46px;
		left: 0px;
		z-index: 101;
	}
	#mobilelink a {
		text-transform: capitalize;
	}
	/*************************************************************************************************
												Search Mobile (< 767px)
	**************************************************************************************************/
	#search_block_top {
		right: 0px;
		top: 227px;
		width: 100%;
	}
	#search_block_top input.search_query {
		width: 97%;
		padding-right: 53px;
	}
	#search_block_top a {
		margin-left: -27px;
		position: relative;
		z-index: 1;
	}
	/*************************************************************************************************
												Alert cart (< 767px)
	**************************************************************************************************/
	.alert_cart {
		background: #000;
		width: 310px;
		position: fixed;
		left: 50%;
		top: 0;
		margin-left: -155px;
		z-index: 9998;
		
			a {
				display: block;
				padding: 21px 40px 22px 50px;
				height: 85px;
				font-size: 12px;
				color: #fff;
				font-weight: bold;
				position: relative;
				z-index: 9997;
					
					&:hover {color: #a9a9a9;}
			}
			
			span {
				background: url(../img/delete_top.png) center 10px no-repeat;
				width: 35px;
				height: 35px;
				position: absolute;
				right: 5px;
				top: 23px;
				cursor: pointer;
				z-index: 9999;
				
					&:hover { background-position: center -50px;}
			}
	}
	
	/* ************************************************************************************************
									BLOCK HEADER USER INFO LOGIN/LOGOUT (< 767px)
	************************************************************************************************ */
	.blockuserinfo {
		position: absolute;
		top: 0px;
		right: 0px;
		text-align: center;
		width: 25%;
		background:#87c161;
		height: 45px;
		
			a {
				display: block;
				padding: 0px 0 0px 0;
			}	
	}
	/* ************************************************************************************************
									HOME PRODUCTS (< 767px)
	************************************************************************************************ */
	.main_page_products {
		
		li {
			
			.product_image {
				float:left;
				margin-right:0px;
				width:145px;
				
					a {
						display:block;	
					}
			}
			.product_content {
				overflow:hidden;	
			}
		}
		
	}	
	/* ************************************************************************************************
												FOOTER  (< 767px)
	*********************************************************************************************** */
	footer .block {
		width: 100%
	}
	footer .block h4 {
		padding: 11px 0px 10px 0px;
		margin-top: 0px;
		margin-bottom: 0;
		position: relative;
		
			&:hover { cursor:pointer;}
	}
	footer .block h4 i {
		display: inline-block;
		position: absolute;
		right: 0;
		top: 16px;
	}
	footer .modules .block ul {
		display: none;
		padding:0px 0 0 0;
		margin-top:16px;
	}
	footer .block .list-footer li {
		padding: 0 0 6px;
			
			&:last-child { padding-bottom:0;}
	}

	footer .block .list-footer li a {
		padding-right: 10px;
	}
	footer .modules {
		padding-bottom: 30px;
	}
	/* ************************************************************************************************
									PAGE MANUFACTURE ADN SUPLIER (< 767px)
	************************************************************************************************ */
	.border_sep {
		border-right:none;
		border-bottom:$main_border;
		margin-bottom:15px;
		padding-bottom:15px;	
	}
	.mnf_sup_list li .right_side p {
		float: left;
		margin:8px 15px 0 0;
	}
	/* ************************************************************************************************
									  PAGE STORES AND SITEMAP (< 767px)
	************************************************************************************************ */
	div#stores_block p.text input {
		width: 286px;
		height: 35px;
		line-height: 35px;
		padding: 1px 1px 1px 10px;
	}
	/* ************************************************************************************************
											BOX COL (< 767px)
	************************************************************************************************ */
	.column .block h4 .column_icon_toggle {
		display: block;
		float: right;
		padding: 0;
		margin: 6px 0px 0 0;
	}
	.column .block h4 {
		margin-bottom: 15px;
		text-align:left;
		font-size:20px;
		&:hover { cursor:pointer;}
	}
	#right_column.column .toggle_content, #left_column.column .toggle_content {
		margin-bottom:15px;
	}
	.products_block ul li a.products_block_img {
		width: 60px;
	}
	/* ************************************************************************************************
							PAGINATION AND SORT AND SUBCATEGORY BLOCK (< 767px)
	************************************************************************************************ */
	#itempage {
		float: none;
		margin: 20px 0 0 0;
	}
	.row_category .category_image {
	}
	#productsSortForm {
		margin-bottom: 10px;
	}
	#product_comments_block_extra .comments_advices a.read_rew {
		margin-bottom: 10px;
		border: none;
		padding-right: 0;
		margin-right: 0;
	}
	/**********************************************************************************************
										  ORDER STEP (< 767px)
	***********************************************************************************************/
	p.cart_navigation .exclusive, p.cart_navigation .exclusive_large {
		float: right;
		margin-bottom: 0px;
		padding-left: 9px;
		padding-right: 9px;
	}
	#order_steps {
		width: 280px;
		overflow: hidden;
		margin: 20px auto 20px auto;
		list-style: none;
		height: 200px!important;
	}
	#order_steps li.even:first-child {
		background: #9c9c9c;
	}
	#order_steps li.even.step_current:first-child {
		background: #202020;
	}
	#order_steps li.even {
		background: url(../img/marker-order2.png) center 0px no-repeat #9c9c9c;
	}
	#order_steps li.odd {
		background: url(../img/marker-order2.png) center 0px no-repeat #777777;
	}
	#order_steps li {
		float: none;
		width: 280px;
		height: 40px;
		text-align: center;
	}
	#order_steps li a, #order_steps li span {
		display: inline-block;
		padding: 6px 0 0 5px;
		font: bold 14px "Arial";
	}
	#order_steps li span {
		color: #ffffff;
		font-weight: bold;
	}
	#order_steps li span span {
		float: none;
		color: #ffffff;
		font-weight: bold;
		font-size: 14px;
		line-height: 14px;
		text-align: center;
	}
	#order_steps li.even.step_current {
		background: #202020;
	}
	#order_steps li.odd.step_current {
		background: #202020;
	}
	#order_steps li a {
		font-weight: bold;
		color: #ccc;
		text-decoration: none;
		padding: 0;
	}
	#order_steps li a:hover {
		color: #fff;
	}
	#availableCarriers_table th {
		font-size: 12px;
		word-wrap: break-word;
		white-space: normal;
	}
	/**********************************************************************************************
									  SHOPPING CART PAGE (< 767px)
	***********************************************************************************************/
	table#cart_summary td.cart_product {
		padding-right: 20px;
		width: 100px;
	}
	#order-detail-content #cart_summary td.cart .div_cart_quantity_delete a {
		margin-left: 9px;
	}
	#order-detail-content .title-th.cart_quantity_title {
		display: none;
	}
	#compare_shipping_form #compare_shipping .SE_SubmitRefreshCard input {
		margin-right: 10px;
		margin-bottom: 10px;
	}
	#order-detail-content table td strong {
		margin-right: 7px;
	}
	#order-detail-content table#cart_summary td {
		display: table-cell;
		border-bottom: 0;
		font-size: 12px;
	}
	#order-detail-content table#cart_summary input.cart_quantity_input {
		width: 35px;
	}
	#order-detail-content table#cart_summary td.cart_product {
		padding-right: 10px;
	}
	#order-detail-content #cart_summary.multishipping-cart td.cart_quantity { width:100%;}
	table#cart_summary.multishipping-cart .cart_quantity .cart_quantity_input {
		border:$main_border;
		width: 45px;
	}
	#order-detail-content table.multishipping-cart td strong {
		display: block;
		float: none;
		font-weight: bold;
		color: #333;
		margin-right: 7px;
		clear: both;
		color: #333333;
		font-weight: bold;
		margin-right: 7px;
		padding-bottom: 7px;
		width: 100%;
	}
	#order-detail-content table.multishipping-cart td {
		display: block!important;
		border-bottom: 0!important;
	}
	#order-detail-content table.multishipping-cart thead {
		display: none;
	}
	.multishipping-cart .cart_quantity {
		width: auto;
		overflow: hidden;
	}
	#order-detail-content table.multishipping-cart td select option {
		padding: 5px;
	}
	.order_delivery {
		padding-top: 7px;
	}
	#module-cheque-payment #columns p.cart_navigation a, #module-bankwire-payment #columns p.cart_navigation a {
		display: block;
		float: none;
		text-align: center;
	}
	#module-cheque-payment #columns p.cart_navigation input, #module-bankwire-payment #columns p.cart_navigation input {
		float: none;
		width: 100%;
		text-align:center;
	}
	#module-bankwire-payment #columns p.cart_navigation input {
		margin-bottom: 20px;
	}
	#module-referralprogram-program #idTab3 table th {
		font-size: 11px;
	}
	#module-referralprogram-program #idTab3 table th, #module-referralprogram-program #idTab3 table td {
		padding-left: 2px;
		word-wrap: break-word;
		padding-right: 2px;
	}
	#module-referralprogram-program #idTab3, #module-referralprogram-program #idTab1, #module-referralprogram-program #idTab2 {
		overflow: auto;
	}	
}

/* Note: Design for a width of < 480px 
================================================== */

@media #{$x-small} {

		.sale-box,
		.new-box{ display:none;}
			#htmlcontent_home li{ width:100%; float:none;}
			#page_wrapper_4{ padding-top:20px; padding-bottom:20px;}
	#htmlcontent_home div.item-html h2{ font-size:21px; margin-top:10px; margin-bottom:10px; line-height:21px;}
	#htmlcontent_home div.item-html p{ display:none;}
	#htmlcontent_home div.item-html{ left:20px; top:20px;}
	#header #header_logo img{ width:222px; height:60px;}
	#header #header_logo{ top:74px;}
	#htmlcontent_top div.item-html p{ display:none;}
	#htmlcontent_top div.item-html h2{ margin-bottom:30px;}
	.theme-default .nivo-controlNav{ left:37%; bottom:20px;}
	.main_page_products {
			li {
				
				.product_image {
					float:left;
					margin-right:20px;
					width:120px;
					
						a {
							display:block;	
						}
				}
				.product_content {
					overflow:visible;	
				}
				.button { float:left;}
				.exclusive { float:left; clear:left; margin-right:15px;}
			}
			
		}
	#history #block-history .footable-cell-detail .btn { margin-bottom:10px;}
	.btn { white-space:normal;}
	#instant_search_results .title_shop_block { width:100%; text-align:left; float:none; display:block; margin-top:5px; a {font-size:11px;}}
	#order-detail-content table#cart_summary td.cart_product {	
			a img { width:120px;}
		}
}

/* Note: Design for a width of 480px * 767px
================================================== */

@media #{$small-medium} {
	/* ************************************************************************************************
				MOBILE MENU TOP  CURRENCIES   LANGUAGES    USER INFO (480px * 767px)
	************************************************************************************************ */	
	#mobilelink {
		width: 178px;
	}
	#countries_2 .countries_ul, #setCurrency .currencies_ul {
		width: 179px;
	}
	.alert_cart {
		width: 420px;
		left: 50%;
		margin-left: -210px;
	}
	#htmlcontent_home li{ width:50%;}
	#htmlcontent_home div.item-html h2{ font-size:21px; margin-top:10px; margin-bottom:10px; line-height:21px;}
	#htmlcontent_home div.item-html p{ display:none;}
	#htmlcontent_home div.item-html{ left:20px; top:20px;}
	#page_wrapper_4{ padding-top:20px; padding-bottom:20px;}
	/* ************************************************************************************************
									HOME PRODUCTS (480px * 767px)
	************************************************************************************************ */	
	
	/* ************************************************************************************************
									BOX COL (480px * 767px)
	************************************************************************************************ */	
	.products_block ul li > div {
		width: 348px;
	}
	/**********************************************************************************************
								  LOGIN PAGE	(480px * 767px)								
	***********************************************************************************************/
	p.cart_navigation .exclusive, p.cart_navigation .exclusive_large {
		float: right;
		margin-bottom: 0px;
		margin-right: 0px;
	}
	/**********************************************************************************************
									ORDER PAGE (480px * 767px)									
	***********************************************************************************************/
	table#cart_summary td.cart_product {
		width: 146px;
	}
	table#cart_summary .min-with-td {
		display: inline-block;
		font-weight: normal;
		min-width: 100px;
	}
	table#cart_summary td.tdfirst {
		width: 77%;
	}
}
/* Note: Design for a width of 768px * 991px
================================================== */

@media #{$medium} {
	#search_block_top {
		right: 218px;
		
			input.search_query {
			
			}	
	}
	#header_user #shopping_cart a{}
	
	/* ************************************************************************************************
									HOME PRODUCTS (768px * 991px)
	************************************************************************************************ */
	.main_page_products  li.first_item_of_tablet_line { clear:left;}
	/* ************************************************************************************************
				  					CATEGORY PAGE (768px * 991px)
	************************************************************************************************ */
	#product_comparison .product_image_div a img {
		width: 70px;
	}
	#product_comparison .product_image_div span {
		width: 30px;
	}
	#product_comparison th {
		white-space: normal;
		padding: 5px;
		text-align: center;
	}
	/* ************************************************************************************************
				 				 	BOX COLUMN (768px * 991px)
	************************************************************************************************ */
	.products_block ul li > div {
		width: 90px;
	}
	.products_block ul li a.products_block_img {
		width: 55px;
	}
	.products_block ul li .reduction {
		margin-left: 0;
		margin-right: 0;
	}
	/* ************************************************************************************************
				 					ORDER (768px * 991px)
	************************************************************************************************ */
	table#cart_summary td.tdfirst {
		width: 83%;
	}
	.multishipping-cart .cart_ref {
		padding: 5px!important;
	}
	table.multishipping-cart td {
		padding: 5px !important;
	}
	.addresses #id_address_delivery {
		width: 100%;
	}
	/******************************************************************************************************
									Multishiping (768px * 991px)
	*******************************************************************************************************/
	#cart_summary.multishipping-cart #cart_quantity_button a {
		clear: both;
	}
	table#cart_summary.multishipping-cart .cart_quantity .cart_quantity_input {
		clear: both;
		border-top: none;
		border-bottom: none;
		border-right: 1px solid #CCC;
		border-left: 1px solid #CCC;
		width: 45px;
	}
	table#cart_summary.multishipping-cart #cart_quantity_button {
		float: none !important;
		margin: 0 auto;
		width: 45px;
	}
}

/* Note: Design for a width of 992px * 1199px
================================================== */

@media #{$medium-large} {
	.products_block ul li > div {
		width: 120px;
	}
	
.blockpermanentlinks-header{ left:295px;}	
#search_block_top{ right:350px;}	
#htmlcontent_top li{ width:313px;}
#htmlcontent_top div.item-html h2{
	font-size:21px;
	line-height:25px;
}
#htmlcontent_top div.item-html h2{
	margin-top:10px;
	margin-bottom:10px;
}
#htmlcontent_top div.item-html p{
	margin-bottom:15px;
}
#htmlcontent_home li{
	width:318px;
}
#htmlcontent_home div.item-html h2{
	font-size:26px;
	line-height:26px;
	margin-top:5px;
	margin-bottom:5px;
}
#htmlcontent_home div.item-html{
	left:20px;
	top:20px;
}
#htmlcontent_home div.item-html p{
	line-height:18px;
}
.main_page_products .exclusive{
	font-size:12px;
}
.bottom_footer{ right:147px;}
.lang_ru .blockpermanentlinks-header, .lang_es .blockpermanentlinks-header{left:262px;}
.lang_fr .blockpermanentlinks-header{left:280px;}
}


@media #{$medium}{
h1, .column .block h4, .center_column .block h4, #layered_block_left h3{ font-size:17px;}
#header #header_logo img{ width:230px; height:62px;}
#header #header_logo{ top:67px;}
.blockpermanentlinks-header{ left:-30px;}
footer .block h4{word-wrap:break-word; font-size:12px;}
#htmlcontent_top li{ width:240px;}
#htmlcontent_top div.item-html h2{ display:none;}
#htmlcontent_top div.item-html p{ display:none;}
#htmlcontent_top div.item-html span{ font-size:12px; padding-top:10px; padding-bottom:10px; margin-top:92px; display:block;}
#htmlcontent_top a.item-link:hover div.item-html span{ padding-top:8px; padding-bottom:8px;}
#htmlcontent_top div.item-html span b:before{ font-size:16px; margin-left:10px;}
#htmlcontent_home li{ width:367px;}
#htmlcontent_home div.item-html h2{ font-size:30px; line-height:30px;}
#page_wrapper_4{ background:#261F18;}
.bottom_footer{ right:75px;}
.lang_ru .blockpermanentlinks-header,
.lang_es .blockpermanentlinks-header,
.lang_fr .blockpermanentlinks-header{ left:-30px;}
}
@media #{$y-small}{
}
@media #{$y-small}{
	
}
@media #{$smallxxx-medium}{
#header #header_logo{ width:457px; height:52px;top:100px; }
#header #header_logo{ top:62px;}
}
/* Note: Design for a width > 767px
================================================== */
@media #{$small-large} {
	
	footer .block ul.toggle_content {
		display: block !important;
		height: 100% !important;
		opacity: 1 !important
	}
	


}
/* Note: Design for a width of > 991px
================================================== */
@media #{$large-only} {
	.main_page_products  li.first_item_of_line { clear:left;}
}
@media #{$large} {
	.container { padding-left:0; padding-right:0;}
}