/* Top hooh CSS */
#htmlcontent_top{
}
#htmlcontent_top li{
	float:left;
	margin-right:0;
	width:390px;
	position:relative;
}
#htmlcontent_top div.item-html{
	position:absolute;
	left:30px;
	top:30px;
	padding-right:20px;
}
#htmlcontent_top a.item-link{
	display:block;
}
#htmlcontent_top div.item-html h3{
	margin:0;
	padding:12px 19px 12px 19px;
	background:#6FA63A;
	color:#ffffff;
	font-size:17px;
	font-weight:bold;
	font-family: 'Roboto', sans-serif;
	display:inline-block;
	text-shadow: 1px 1px 1px #68944b;
}
#htmlcontent_top div.item-html h2{
	color:#ffffff;
	font-size:37px;
	line-height:37px;
	font-weight:bold;
	font-family: 'Roboto', sans-serif;
	text-shadow: 1px 1px 1px #35361f;
}
#htmlcontent_top div.item-html p{
	color:#ffffff;
	font-size:13px;
	font-weight:300;
	font-family: 'Roboto', sans-serif;
	line-height:23px;
	padding-right:25px;
	margin-bottom:35px;
}
#htmlcontent_top div.item-html span{
	color:#ffffff;
	font-size:17px;
	font-weight:bold;
	font-family: 'Roboto', sans-serif;
	display:block;
	border:1px solid #fff;
	text-align:center;
	padding:18px 0 19px 0;
	line-height:17px;
	text-shadow: 1px 1px 1px #35361f;
}
#htmlcontent_top div.item-html span b{
	display:inline-block;
}
#htmlcontent_top div.item-html span b:before {
	content:"";
	font-family:'FontAwesome';
	font-size:14px;
	vertical-align:-1px;
	float:right;
	font-size:25px;
	color:#87c161;
	text-shadow: 1px 1px 1px #846c58;
	line-height:17px;
	display:inline-block;
	margin-left:20px;				
}
#htmlcontent_top a.item-link:hover span{
	border:3px solid #fff;
		padding:16px 0 18px 0;
}
#htmlcontent_top a.item-link:hover h3{
	background:#A90101;
	text-shadow: 1px 1px 1px #f8404e;
}

#htmlcontent_home{
	padding-left:15px;
}
#htmlcontent_home li{
	float:left;
	margin-right:0;
	width:390px;
	position:relative;
}
#htmlcontent_home li.htmlcontent-item.num-2 div.item-html h3,
#htmlcontent_home li.htmlcontent-item.num-4 div.item-html h3,
#htmlcontent_home li.htmlcontent-item.num-6 div.item-html h3{
	background:#4a4641;
	text-shadow: 1px 1px 1px #393632;
}
#htmlcontent_home div.item-html{
	position:absolute;
	left:30px;
	top:30px;
	padding-right:10px;
}
#htmlcontent_home a.item-link{
	display:block;
}
#htmlcontent_home div.item-html h3{
	margin:0;
	padding:12px 19px 12px 19px;
	background:#87c161;
	color:#ffffff;
	font-size:17px;
	font-weight:bold;
	font-family: 'Roboto', sans-serif;
	display:inline-block;
	text-shadow: 1px 1px 1px #68944b;
}
#htmlcontent_home a.item-link:hover h3,
#htmlcontent_home li.htmlcontent-item.num-2 a.item-link:hover div.item-html h3,
#htmlcontent_home li.htmlcontent-item.num-4 a.item-link:hover div.item-html h3,
#htmlcontent_home li.htmlcontent-item.num-6 a.item-link:hover div.item-html h3{
	background:#fd5c68;
	text-shadow: 1px 1px 1px #f8404e;
}
#htmlcontent_home div.item-html h2{
	color:#ffffff;
	font-size:37px;
	line-height:37px;
	font-weight:bold;
	font-family: 'Roboto', sans-serif;
	text-shadow: 1px 1px 1px #35361f;
	margin-bottom:8px;
}
#htmlcontent_home div.item-html p{
	color:#ffffff;
	font-size:13px;
	font-weight:300;
	font-family: 'Roboto', sans-serif;
	line-height:23px;
	padding-right:0px;
	margin-bottom:0px;
}
body.instant_search #htmlcontent_top{ display:none;}